In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import sqlite3
import openpyxl as xl

# Loading Datas

In [2]:
BMOpath1 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\BMO\\CASH_FLOW_Manulife.xlsx'

In [3]:
BMOW1 = xl.load_workbook(BMOpath1)
BMOS1 = BMOW1['BMO Flows - Apr22']

In [4]:
BMO1 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\BMO Cash Flow.xlsx"
BMOW2 = xl.load_workbook(BMO1)
BMOS2 = BMOW2['BMO Flows']

In [5]:
BMO1r = BMOS1.max_row
BMO1c = BMOS1.max_column

In [6]:
for i in range (1, BMO1r + 1):
    for j in range (1, BMO1c + 1):
        # reading cell value from source excel file
        bc = BMOS1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        BMOS2.cell(row = i, column = j).value = bc.value

In [7]:
BMOW2.save(str(BMO1))

In [8]:
BMOpath2 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\BMO\\Monthly_AUM_by_Client_Report__crosstab (April 2022)Manulife.xlsx'
BMOW3 = xl.load_workbook(BMOpath2)
BMOS3 = BMOW3['BMO Assets - Apr22']
BMO2 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\BMO Monthly AUM.xlsx"
BMOW4 = xl.load_workbook(BMO2)
BMOS4 = BMOW4['BMO AUM']
BMO2r = BMOS3.max_row
BMO2c = BMOS3.max_column

In [9]:
for i in range (1, BMO2r + 1):
    for j in range (1, BMO2c + 1):
        # reading cell value from source excel file
        ba = BMOS3.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        BMOS4.cell(row = i, column = j).value = ba.value

In [10]:
BMOW4.save(str(BMO2))

In [11]:
Canpath = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\Canaccord\\Canaccord  Assets and Flows - Apr22 .xlsx'
Canw1 = xl.load_workbook(Canpath)
Cans1 = Canw1['Canaccord - Apr22']
Can ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\Canaccord report.xlsx"
Canw2 = xl.load_workbook(Can)
Cans2 = Canw2['Canaccord AUM & Flows']
Canr = Cans1.max_row
Canc = Cans1.max_column

In [12]:
for i in range (1, Canr + 1):
    for j in range (1, Canc + 1):
        # reading cell value from source excel file
        c = Cans1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        Cans2.cell(row = i, column = j).value = c.value

In [13]:
Canw2.save(str(Can))

In [14]:
IApath = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\iA\\ManulifeApr2022AUM-Hema.xlsx'
IAw1 = xl.load_workbook(IApath)
IAs1 = IAw1['IA - Apr22']
IA ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\IA report.xlsx"
IAw2 = xl.load_workbook(IA)
IAs2 = IAw2['iA upload']
IAr = IAs1.max_row
IAc = IAs1.max_column

In [15]:
for i in range (1, IAr + 1):
    for j in range (1, IAc + 1):
        # reading cell value from source excel file
        ia = IAs1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        IAs2.cell(row = i, column = j).value = ia.value

In [16]:
IAw2.save(str(IA))

In [17]:
MApath = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\MAML\\Manulife cash flow report -APR 2022.xlsx'
MAw1 = xl.load_workbook(MApath)
MAs1 = MAw1['MS - Apr22']
MA ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\Manulife report.xlsx"
MAw2 = xl.load_workbook(MA)
MAs2 = MAw2['Manulife upload']
MAr = MAs1.max_row
MAc = MAs1.max_column

In [18]:
for i in range (1, MAr + 1):
    for j in range (1, MAc + 1):
        # reading cell value from source excel file
        ma = MAs1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        MAs2.cell(row = i, column = j).value = ma.value

In [19]:
MAw2.save(str(MA))

In [20]:
Wellpath = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\Wellington Altus\\AUM and Flows April 2022.xlsx'
Wellw1 = xl.load_workbook(Wellpath)
Wells1 = Wellw1['WA Altus - Apr22']
Well ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\Wellington report.xlsx"
Wellw2 = xl.load_workbook(Well)
Wells2 = Wellw2['WA uploaded']
Wellr = Wells1.max_row
Wellc = Wells1.max_column

In [21]:
for i in range (1, Wellr + 1):
    for j in range (1, Wellc + 1):
        # reading cell value from source excel file
        wl = Wells1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        Wells2.cell(row = i, column = j).value = wl.value

In [22]:
Wellw2.save(str(Well))

In [23]:
GMpath = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\GMP\\Manulife Advisor Support By Mandate - April 30, 2022-HP.xlsx'
GMw1 = xl.load_workbook(GMpath)
GMs1 = GMw1['R-GMP Apr22']
GM ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\GMP report.xlsx"
GMw2 = xl.load_workbook(GM)
GMs2 = GMw2['GMP upload']
GMr = GMs1.max_row
GMc = GMs1.max_column

In [24]:
for i in range (1, GMr + 1):
    for j in range (1, GMc + 1):
        # reading cell value from source excel file
        g = GMs1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        GMs2.cell(row = i, column = j).value = g.value

In [25]:
GMw2.save(str(GM))

In [26]:
CIBCpath1 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\CIBC ICS\\CIBC Sales - Apr22.xlsx'
CIBCW1 = xl.load_workbook(CIBCpath1)
CIBCS1 = CIBCW1['CIBC Flows - Apr22']
CIBC1 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\CIBC Cash Flow.xlsx"
CIBCW2 = xl.load_workbook(CIBC1)
CIBCS2 = CIBCW2['CIBC Flow']
CIBC1r = CIBCS1.max_row
CIBC1c = CIBCS1.max_column

In [27]:
for i in range (1, CIBC1r + 1):
    for j in range (1, CIBC1c + 1):
        # reading cell value from source excel file
        ci = CIBCS1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        CIBCS2.cell(row = i, column = j).value = ci.value

In [28]:
CIBCW2.save(str(CIBC1))

In [29]:
CIBCpath2 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\CIBC ICS\\CIBC Assets - Apr22.xlsx'
CIBCW3 = xl.load_workbook(CIBCpath2)
CIBCS3 = CIBCW3['CIBC Assets - Apr22']
CIBC2 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\CIBC Assets.xlsx"
CIBCW4 = xl.load_workbook(CIBC2)
CIBCS4 = CIBCW4['CIBC Assets']
CIBC2r = CIBCS3.max_row
CIBC2c = CIBCS3.max_column

In [30]:
for i in range (1, CIBC2r + 1):
    for j in range (1, CIBC2c + 1):
        # reading cell value from source excel file
        cb = CIBCS3.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        CIBCS4.cell(row = i, column = j).value = cb.value

In [31]:
CIBCW4.save(str(CIBC2))

In [32]:
RBCpath1 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\RBC A+\\RBC Flows - Apr 2022.xlsx'
RBCw1 = xl.load_workbook(RBCpath1)
RBCs1 = RBCw1['RBC Flows - Apr22']
RBC1 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\RBC Cash Flow.xlsx"
RBCw2 = xl.load_workbook(RBC1)
RBCs2 = RBCw2['RBC Flows']
RBC1r = RBCs1.max_row
RBC1c = RBCs1.max_column

In [33]:
for i in range (1, RBC1r + 1):
    for j in range (1, RBC1c + 1):
        # reading cell value from source excel file
        r = RBCs1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        RBCs2.cell(row = i, column = j).value = r.value

In [34]:
RBCw2.save(str(RBC1))

In [35]:
RBCpath2 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\RBC A+\\RBC Assets - Apr22.xlsx'
RBCW3 = xl.load_workbook(RBCpath2)
RBCS3 = RBCW3['RBC Assets - Apr22']
RBC2 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\RBC Monthly AUM.xlsx"
RBCW4 = xl.load_workbook(RBC2)
RBCS4 = RBCW4['RBC Assets']
RBC2r = RBCS3.max_row
RBC2c = RBCS3.max_column

In [36]:
for i in range (1, RBC2r + 1):
    for j in range (1, RBC2c + 1):
        # reading cell value from source excel file
        rb = RBCS3.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        RBCS4.cell(row = i, column = j).value = rb.value

In [37]:
RBCW4.save(str(RBC2))

In [38]:
TDpath1 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\TD\\Manulife Flow Data - 202204.xlsx'
TDw1 = xl.load_workbook(TDpath1)
TDs1 = TDw1['TD Flows - Apr22 upld']
TD1  ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\TD Cash Flow.xlsx"
TDw2 = xl.load_workbook(TD1)
TDs2 = TDw2['TD Sales']
TD1r = TDs1.max_row
TD1c = TDs1.max_column

In [39]:
for i in range (1, TD1r + 1):
    for j in range (1, TD1c + 1):
        # reading cell value from source excel file
        t = TDs1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        TDs2.cell(row = i, column = j).value = t.value

In [40]:
TDw2.save(str(TD1))

In [41]:
TDpath2 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\TD\\ML External Apr 2022.xlsx'
TDW3 = xl.load_workbook(TDpath2)
TDS3 = TDW3['TD Assets - Apr22']
TD2 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\TD Monthly AUM.xlsx"
TDW4 = xl.load_workbook(TD2)
TDS4 = TDW4['TD Assets']
TD2r = TDS3.max_row
TD2c = TDS3.max_column

In [42]:
for i in range (1, TD2r + 1):
    for j in range (1, TD2c + 1):
        # reading cell value from source excel file
        d = TDS3.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        TDS4.cell(row = i, column = j).value = d.value

In [43]:
TDW4.save(str(TD2))

In [44]:
RJpath1 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\RJ\\RJ - Manulife Cash Flows - April 2022.xlsx'
RJw1 = xl.load_workbook(RJpath1)
RJs1 = RJw1['RJ Flows - Apr22']
RJ1 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\RJ - Cash Flow.xlsx"
RJw2 = xl.load_workbook(RJ1)
RJs2 = RJw2['RJ Cash Flow']
RJ1r = RJs1.max_row
RJ1c = RJs1.max_column

In [45]:
for i in range (1, RJ1r + 1):
    for j in range (1, RJ1c + 1):
        # reading cell value from source excel file
        re = RJs1.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        RJs2.cell(row = i, column = j).value = re.value

In [46]:
RJw2.save(str(RJ1))

In [47]:
RJpath2 = 'S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\2022\\2022-04\\RJ\\RJ - Manulife AUM -  April 2022.xlsx'
RJW3 = xl.load_workbook(RJpath2)
RJS3 = RJW3['RJ Assets - Apr22']
RJ2 ="S:\\can\\retail\\retail sales intelligence\\Wealth\\Reports - Scheduled\\2 - Monthly Reports\\SMA\\SMA Data Files\\SMA Reports-Python\\RJ - Monthly AUM.xlsx"
RJW4 = xl.load_workbook(RJ2)
RJS4 = RJW4['RJ Assets']
RJ2r = RJS3.max_row
RJ2c = RJS3.max_column

In [48]:
for i in range (1, RJ2r + 1):
    for j in range (1, RJ2c + 1):
        # reading cell value from source excel file
        rey = RJS3.cell(row = i, column = j)
  
        # writing the read value to destination excel file
        RJS4.cell(row = i, column = j).value = rey.value

In [49]:
RJW4.save(str(RJ2))

# BMO

In [50]:
pd.set_option("display.precision", 2)

In [51]:
df = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\BMO Cash Flow.xlsx', sheet_name='BMO Flows')

In [52]:
df.insert(loc=0, column='Platform', value='BMO Architect', allow_duplicates=True)

In [53]:
df.head()

,Platform,Model / Manager Name,Sponsor Name,Curr,Account System ID,Cash Flow Date,Cash Flow Amount,Holding Flow Amount,Reporting Date,Type
0,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,26-APR-22,-7.60,0,2022-04-30,Outflow
1,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,29-APR-22,-32.20,0,2022-04-30,Outflow
2,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,06-APR-22,-46.50,0,2022-04-30,Outflow
3,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,01-APR-22,-85.17,0,2022-04-30,Outflow
4,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,07-APR-22,-20.77,0,2022-04-30,Outflow

In [54]:
df['Cash Flow Date'] = pd.to_datetime(df['Cash Flow Date'])

In [55]:
df['Date'] = df['Cash Flow Date'].dt.strftime('%m-%Y')

In [56]:
df.head()

,Platform,Model / Manager Name,Sponsor Name,Curr,Account System ID,Cash Flow Date,Cash Flow Amount,Holding Flow Amount,Reporting Date,Type,Date
0,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,2022-04-26,-7.60,0,2022-04-30,Outflow,04-2022
1,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,2022-04-29,-32.20,0,2022-04-30,Outflow,04-2022
2,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,2022-04-06,-46.50,0,2022-04-30,Outflow,04-2022
3,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,2022-04-01,-85.17,0,2022-04-30,Outflow,04-2022
4,BMO Architect,Manulife Canadian Equity,Manulife Asset Mgmt,CAD,U00225490,2022-04-07,-20.77,0,2022-04-30,Outflow,04-2022

In [57]:
df1 = pd.DataFrame(df, columns= ['Platform','Sponsor Name','Model / Manager Name','Curr','Date','Cash Flow Amount'])

In [58]:
df1.head()

,Platform,Sponsor Name,Model / Manager Name,Curr,Date,Cash Flow Amount
0,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-7.60
1,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-32.20
2,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-46.50
3,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-85.17
4,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-20.77

In [59]:
df1.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'Model / Manager Name' : 'Mandate', 'Curr' :'Currency', 'Cash Flow Amount' :'Sales/Redemptions'}, inplace=True)

In [60]:
df1.head()

,Platform,Sponsor Name,Mandate,Currency,Date,Sales/Redemptions
0,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-7.60
1,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-32.20
2,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-46.50
3,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-85.17
4,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-20.77

In [61]:
df1['Type Condition']= np.where(df1['Sales/Redemptions'] > 0, True, False)

In [62]:
df1['Type'] = df1['Type Condition'].map({True: 'Sales', False: 'Redemptions'})

In [63]:
df1.head()

,Platform,Sponsor Name,Mandate,Currency,Date,Sales/Redemptions,Type Condition,Type
0,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-7.60,False,Redemptions
1,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-32.20,False,Redemptions
2,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-46.50,False,Redemptions
3,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-85.17,False,Redemptions
4,BMO Architect,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,04-2022,-20.77,False,Redemptions

In [64]:
BMOSales = pd.DataFrame(df1, columns= ['Platform','Mandate','Currency','Date','Type','Sales/Redemptions'])

In [65]:
BMOSales.head()

,Platform,Mandate,Currency,Date,Type,Sales/Redemptions
0,BMO Architect,Manulife Canadian Equity,CAD,04-2022,Redemptions,-7.60
1,BMO Architect,Manulife Canadian Equity,CAD,04-2022,Redemptions,-32.20
2,BMO Architect,Manulife Canadian Equity,CAD,04-2022,Redemptions,-46.50
3,BMO Architect,Manulife Canadian Equity,CAD,04-2022,Redemptions,-85.17
4,BMO Architect,Manulife Canadian Equity,CAD,04-2022,Redemptions,-20.77

In [66]:
BMOSales= BMOSales.groupby(['Date','Platform','Mandate','Currency', 'Type']).agg({'Sales/Redemptions' :sum}).add_prefix('Total_')

In [67]:
pd.options.display.float_format = '{:,.2f}'.format

In [68]:
BMOSales.head()

                                                                           Total_Sales/Redemptions
Date    Platform      Mandate                        Currency Type
04-2022 BMO Architect Manulife Canadian Equity       CAD      Redemptions            -9,345,704.68
                                                              Sales                   3,247,338.39
                      Manulife North American Equity CAD      Redemptions              -311,413.05
                                                              Sales                   3,504,349.77
                      Manulife U.S. Dividend Equity  USD      Redemptions              -944,993.63

In [69]:
BMOSalesNew = BMOSales.reset_index().copy()

In [70]:
BMOSalesNew.head()

,Date,Platform,Mandate,Currency,Type,Total_Sales/Redemptions
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,Redemptions,"-9,345,704.68"
1,04-2022,BMO Architect,Manulife Canadian Equity,CAD,Sales,"3,247,338.39"
2,04-2022,BMO Architect,Manulife North American Equity,CAD,Redemptions,"-311,413.05"
3,04-2022,BMO Architect,Manulife North American Equity,CAD,Sales,"3,504,349.77"
4,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,Redemptions,"-944,993.63"

In [71]:
BMOsales= pd.pivot_table(BMOSales, values='Total_Sales/Redemptions', index=['Date','Platform','Mandate','Currency'],
                    columns=['Type'], aggfunc=np.sum).reset_index()

In [72]:
pd.set_option("display.precision", 3)

In [73]:
BMOsales.head()

Type,Date,Platform,Mandate,Currency,Redemptions,Sales
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"-9,345,704.68","3,247,338.39"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"-311,413.05","3,504,349.77"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"-944,993.63","1,326,292.18"

In [74]:
BMOassets = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\BMO Monthly AUM.xlsx', sheet_name='BMO AUM')

In [75]:
BMOassets.head()

,Sponsor Name,Manager / Model Name,Model Preferred Currency,Tax Mgd(Y/N),Account System ID,Open Date,Advisor Name,Advisor Branch,Advisor System ID,AUM,AUM (Firm Currency),Reporting Date,Type
0,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,N,U00000009,2005-08-19,ANDY KURCZ / ADV,Hamilton / Niagara,N8R,"433,810.82","433,810.82",2022-04-30,Assets
1,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,N,U00000369,2014-12-31,LUC BLANCHARD ARCH-MPA,Sherbrooke,DGC,"260,764.52","260,764.52",2022-04-30,Assets
2,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,N,U00000376,2022-02-18,LUC BLANCHARD ARCH-MPA,Sherbrooke,DGC,"73,313.75","73,313.75",2022-04-30,Assets
3,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,N,U00000672,2019-11-14,LUC BLANCHARD ARCH-MPA,Sherbrooke,DGC,"86,033.92","86,033.92",2022-04-30,Assets
4,Manulife Asset Mgmt,Manulife Canadian Equity,CAD,N,U00000688,2010-09-22,LUC BLANCHARD ARCH-MPA,Sherbrooke,DGC,"2,325,904.23","2,325,904.23",2022-04-30,Assets

In [76]:
BMOA = pd.DataFrame(BMOassets, columns= ['Sponsor Name','Manager / Model Name','AUM (Firm Currency)'])
BMOA.insert(loc=0, column='Currency', value='CAD', allow_duplicates=True)

In [77]:
BMOA.head()

  Currency         Sponsor Name      Manager / Model Name  AUM (Firm Currency)
0      CAD  Manulife Asset Mgmt  Manulife Canadian Equity           433,810.82
1      CAD  Manulife Asset Mgmt  Manulife Canadian Equity           260,764.52
2      CAD  Manulife Asset Mgmt  Manulife Canadian Equity            73,313.75
3      CAD  Manulife Asset Mgmt  Manulife Canadian Equity            86,033.92
4      CAD  Manulife Asset Mgmt  Manulife Canadian Equity         2,325,904.23

In [78]:
BMOA.rename(columns={'Manager / Model Name' : 'Mandate', 'Currency' :'Currency', 'AUM (Firm Currency)' :'Assets'}, inplace=True)

In [79]:
BMOA.insert(loc=0, column='Platform', value='BMO Architect', allow_duplicates=True)

In [80]:
BMOA.head()

,Platform,Currency,Sponsor Name,Mandate,Assets
0,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"433,810.82"
1,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"260,764.52"
2,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"73,313.75"
3,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"86,033.92"
4,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"2,325,904.23"

In [81]:
BMOA.rename(columns={'Platform' :'Platform','Mandate' : 'Mandate','Currency' : 'Currency','AUM (Firm Currency)' :'Assets'}, inplace=True)
BMOA.head()

,Platform,Currency,Sponsor Name,Mandate,Assets
0,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"433,810.82"
1,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"260,764.52"
2,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"73,313.75"
3,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"86,033.92"
4,BMO Architect,CAD,Manulife Asset Mgmt,Manulife Canadian Equity,"2,325,904.23"

In [82]:
BMOAssets= BMOA.groupby(['Platform','Mandate', 'Currency']).agg({'Assets' :sum})
BMOAssets.head()

                                                              Assets
Platform      Mandate                        Currency
BMO Architect Manulife Canadian Equity       CAD      195,644,347.59
              Manulife North American Equity CAD       82,980,650.34
              Manulife U.S. Dividend Equity  CAD      186,921,491.25

In [83]:
BMO=pd.merge(BMOsales[['Date','Platform','Mandate','Currency','Sales','Redemptions']],BMOAssets, on=['Mandate'],how='left')
BMO

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"

In [84]:
BMO

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"

# Canaccord

In [85]:
Canaccord = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\Canaccord report.xlsx', sheet_name='Canaccord AUM & Flows')

In [86]:
Canaccord.head()

,Platform,Advisor,Mandate,ReportingDate,CommissionDate,Market Value,Sales,Redemptions
0,Canaccord,Lori Pinkowski,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"9,916,114.32","229,110.77",NaN
1,Canaccord,Jamie Switzer,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"1,929,053.50",NaN,"197,613.25"
2,Canaccord,Lori Pinkowski,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"19,800,075.03",NaN,"70,903.68"
3,Canaccord,Jarrett McKay,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"104,275.63",NaN,413.24
4,Canaccord,Jarrett McKay,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"230,243.46",NaN,NaN

In [87]:
Canaccord.insert(loc=0, column='Currency', value='USD', allow_duplicates=True)

In [88]:
Canaccord.head()

,Currency,Platform,Advisor,Mandate,ReportingDate,CommissionDate,Market Value,Sales,Redemptions
0,USD,Canaccord,Lori Pinkowski,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"9,916,114.32","229,110.77",NaN
1,USD,Canaccord,Jamie Switzer,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"1,929,053.50",NaN,"197,613.25"
2,USD,Canaccord,Lori Pinkowski,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"19,800,075.03",NaN,"70,903.68"
3,USD,Canaccord,Jarrett McKay,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"104,275.63",NaN,413.24
4,USD,Canaccord,Jarrett McKay,Manulife North American Dividend Income Manage...,2022-04-30,NaN,"230,243.46",NaN,NaN

In [89]:
Canaccord_table = pd.DataFrame(Canaccord, columns= ['Platform','Mandate','ReportingDate', 'Currency','Sales','Redemptions','Market Value'])

In [90]:
Canaccord_table.rename(columns={'Platform' :'Platform','Mandate' : 'Mandate', 'ReportingDate' :'Date','Currency' : 'Currency', 'Sales' : 'Sales', 'Redemptions':'Redemptions','Market Value' :'Assets'}, inplace=True)

In [91]:
Canaccord_table.head()

,Platform,Mandate,Date,Currency,Sales,Redemptions,Assets
0,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,"229,110.77",NaN,"9,916,114.32"
1,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,"197,613.25","1,929,053.50"
2,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,"70,903.68","19,800,075.03"
3,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,413.24,"104,275.63"
4,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,NaN,"230,243.46"

In [92]:
Canaccord_table.Redemptions=Canaccord_table.Redemptions*-1
Canaccord_table.head()

,Platform,Mandate,Date,Currency,Sales,Redemptions,Assets
0,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,"229,110.77",NaN,"9,916,114.32"
1,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,"-197,613.25","1,929,053.50"
2,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,"-70,903.68","19,800,075.03"
3,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,-413.24,"104,275.63"
4,Canaccord,Manulife North American Dividend Income Manage...,2022-04-30,USD,NaN,NaN,"230,243.46"

In [93]:
Canaccord_table['Date'] = pd.to_datetime(Canaccord_table['Date'])
Canaccord_table['Date'] = Canaccord_table['Date'].dt.strftime('%m-%Y')
Canaccord_table.head()

,Platform,Mandate,Date,Currency,Sales,Redemptions,Assets
0,Canaccord,Manulife North American Dividend Income Manage...,04-2022,USD,"229,110.77",NaN,"9,916,114.32"
1,Canaccord,Manulife North American Dividend Income Manage...,04-2022,USD,NaN,"-197,613.25","1,929,053.50"
2,Canaccord,Manulife North American Dividend Income Manage...,04-2022,USD,NaN,"-70,903.68","19,800,075.03"
3,Canaccord,Manulife North American Dividend Income Manage...,04-2022,USD,NaN,-413.24,"104,275.63"
4,Canaccord,Manulife North American Dividend Income Manage...,04-2022,USD,NaN,NaN,"230,243.46"

In [94]:
Canaccord_groups= Canaccord_table.groupby(['Date','Platform','Mandate', 'Currency'])
Canaccord_data=Canaccord_groups.sum()
Canaccord_data.head().reset_index()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"

In [95]:
Canaccord_dataNew = Canaccord_data.reset_index().copy()

In [96]:
Canaccord_dataNew

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"

In [97]:
BMOCanaccord=pd.concat([BMO,Canaccord_dataNew])

In [98]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [99]:
BMOCanaccord

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,3247338.39,-9345704.68,195644347.59
1,04-2022,BMO Architect,Manulife North American Equity,CAD,3504349.77,-311413.05,82980650.34
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,1326292.18,-944993.63,186921491.25
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,683169.58
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,452411.54
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,247774.27
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,229110.77,-268930.18,37032383.73
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,1358647.01
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,199918.65
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,3430551.17

# Manulife

In [100]:
Manulife = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\Manulife report.xlsx', sheet_name='Manulife upload')

In [101]:
Manulife['Date'] = pd.to_datetime(Manulife['Date'])

In [102]:
Manulife['Date'] = Manulife['Date'].dt.strftime('%m-%Y')

In [103]:
Manulife.insert(loc=0, column='Platform', value='Manulife Securities', allow_duplicates=True)

In [104]:
Manulife.insert(loc=0, column='Currency', value='CAD', allow_duplicates=True)

In [105]:
Manulife.head()

,Currency,Platform,Model,Model_Description,Branch,IA,IA_Name,MTD Contribution,MTD Withdrawal,MTD Net,YTD Contribution,YTD Withdrawal,YTD Net,AUA,Date
0,CAD,Manulife Securities,CB2,Manulife Canadian Balanced Growth,206-5451 HIGHWAY 7; WOODBRIDGE; ON L4L 0B2;,C346,SUNIL HEDA,0.00,0.00,0.00,0.00,0.00,0.00,109913.83,04-2022
1,CAD,Manulife Securities,CB2,Manulife Canadian Balanced Growth,417 A HAZELDEAN RD; KANATA ON; K2L 4C6,JL37,PETER FRASER,0.00,0.00,0.00,0.00,0.00,0.00,151035.01,04-2022
2,CAD,Manulife Securities,CB2,Manulife Canadian Balanced Growth,237 LABRADOR DR; UNIT 1; WATERLOO ON,4WXP,GALL/WEB/YOU/MCG,0.00,0.00,0.00,0.00,0.00,0.00,345056.36,04-2022
3,CAD,Manulife Securities,CB2,Manulife Canadian Balanced Growth,1001 3rd Avenue S; Lethbridge; Alberta; T1J 0J3,8131,TERRY MAH,0.00,0.00,0.00,0.00,0.00,0.00,473190.22,04-2022
4,CAD,Manulife Securities,CB2,Manulife Canadian Balanced Growth,215-3075 14th Avenue; Markham; Ontario; L3R 0G9,313,JONATHAN HEW,0.00,1165.88,-1165.88,0.00,4663.52,-4663.52,152530.52,04-2022

In [106]:
Manulife1 = pd.DataFrame(Manulife, columns= ['Platform','Model_Description','Currency','Date','MTD Contribution', 'MTD Withdrawal','AUA'])

In [107]:
Manulife1.head()

,Platform,Model_Description,Currency,Date,MTD Contribution,MTD Withdrawal,AUA
0,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,109913.83
1,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,151035.01
2,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,345056.36
3,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,473190.22
4,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,1165.88,152530.52

In [108]:
Manulife1.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'Model_Description' : 'Mandate', 'Currency' :'Currency', 'MTD Contribution' :'Sales','MTD Withdrawal' : 'Redemptions','AUA' : 'Assets'}, inplace=True)

In [109]:
Manulife1.head()

,Platform,Mandate,Currency,Date,Sales,Redemptions,Assets
0,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,109913.83
1,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,151035.01
2,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,345056.36
3,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,0.00,473190.22
4,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,1165.88,152530.52

In [110]:
Manulife1.Redemptions=Manulife1.Redemptions*-1
Manulife1.head()

,Platform,Mandate,Currency,Date,Sales,Redemptions,Assets
0,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,-0.00,109913.83
1,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,-0.00,151035.01
2,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,-0.00,345056.36
3,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,-0.00,473190.22
4,Manulife Securities,Manulife Canadian Balanced Growth,CAD,04-2022,0.00,-1165.88,152530.52

In [111]:
Manulife_groups=Manulife1.groupby(['Date','Platform','Mandate','Currency'])
ManulifeSales=Manulife_groups.sum()
pd.options.display.float_format = '{:,.2f}'.format
MAML=ManulifeSales.reset_index().copy()
MAML

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"

In [112]:
BMOCanaccordManu=pd.concat([BMOCanaccord,MAML])

In [113]:
BMOCanaccordManu

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"

# Wellington

In [114]:
Wellington = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\Wellington report.xlsx', sheet_name='WA uploaded')

In [115]:
Wellington.head()

,Platform,Fund,Account Number (at Wellington-Altus Private Wealth),Advisor Name,Advisor Code,Currency,Market Value (AUM),New Sales in the Month,Redemptions in the month,Date
0,Wellington-Altus Private Wealth,Manulife NA Dvd,2R00L3S,Curtis Sellors,AD23,CAD,"95,556.26",NaN,NaN,2022-04-30
1,Wellington-Altus Private Wealth,Manulife NA Dvd,2R00N1S,G Sternig & R Klewchuk & C Bancks,AD60,CAD,"386,805.21","386,805.21",NaN,2022-04-30
2,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2GXVA,G Sternigh & R Klewchuk,AD39,CAD,"134,113.90",NaN,NaN,2022-04-30
3,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2GZZW,G Sternigh & R Klewchuk,AD39,CAD,"112,926.12",NaN,NaN,2022-04-30
4,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2HGZ7,Elaine Knotek-Holmes,AD09,USD,"95,116.49",NaN,NaN,2022-04-30

In [116]:
Wellington['Date'] = pd.to_datetime(Wellington['Date'])

In [117]:
Wellington['Date'] = Wellington['Date'].dt.strftime('%m-%Y')

In [118]:
Wellington.head()

,Platform,Fund,Account Number (at Wellington-Altus Private Wealth),Advisor Name,Advisor Code,Currency,Market Value (AUM),New Sales in the Month,Redemptions in the month,Date
0,Wellington-Altus Private Wealth,Manulife NA Dvd,2R00L3S,Curtis Sellors,AD23,CAD,"95,556.26",NaN,NaN,04-2022
1,Wellington-Altus Private Wealth,Manulife NA Dvd,2R00N1S,G Sternig & R Klewchuk & C Bancks,AD60,CAD,"386,805.21","386,805.21",NaN,04-2022
2,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2GXVA,G Sternigh & R Klewchuk,AD39,CAD,"134,113.90",NaN,NaN,04-2022
3,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2GZZW,G Sternigh & R Klewchuk,AD39,CAD,"112,926.12",NaN,NaN,04-2022
4,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2HGZ7,Elaine Knotek-Holmes,AD09,USD,"95,116.49",NaN,NaN,04-2022

In [119]:
Wellington.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'Fund ' : 'Mandate', 'Currency' :'Currency', 'New Sales in the Month' :'Sales','Redemptions in the month' :'Redemptions','Market Value (AUM)' : 'Assets'}, inplace=True)

In [120]:
Wellington.head()

,Platform,Mandate,Account Number (at Wellington-Altus Private Wealth),Advisor Name,Advisor Code,Currency,Assets,Sales,Redemptions,Date
0,Wellington-Altus Private Wealth,Manulife NA Dvd,2R00L3S,Curtis Sellors,AD23,CAD,"95,556.26",NaN,NaN,04-2022
1,Wellington-Altus Private Wealth,Manulife NA Dvd,2R00N1S,G Sternig & R Klewchuk & C Bancks,AD60,CAD,"386,805.21","386,805.21",NaN,04-2022
2,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2GXVA,G Sternigh & R Klewchuk,AD39,CAD,"134,113.90",NaN,NaN,04-2022
3,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2GZZW,G Sternigh & R Klewchuk,AD39,CAD,"112,926.12",NaN,NaN,04-2022
4,Wellington-Altus Private Wealth,Manulife NA Dvd,2R2HGZ7,Elaine Knotek-Holmes,AD09,USD,"95,116.49",NaN,NaN,04-2022

In [121]:
Wellington1 = pd.DataFrame(Wellington, columns= ['Date','Platform','Mandate','Currency','Sales','Redemptions','Assets'])

In [122]:
Wellington1

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,NaN,NaN,"95,556.26"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"386,805.21",NaN,"386,805.21"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,NaN,NaN,"134,113.90"
3,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,NaN,NaN,"112,926.12"
4,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,NaN,NaN,"95,116.49"
...,...,...,...,...,...,...,...
146,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,NaN,NaN,"96,880.91"
147,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,NaN,NaN,"169,426.90"
148,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,NaN,NaN,"172,540.27"
149,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,NaN,NaN,"201,350.97"
150,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,NaN,NaN,"575,972.54"

In [123]:
Wellington_groups= Wellington1.groupby(['Date','Platform','Mandate', 'Currency'])
Wellington_data=Wellington_groups.sum()
Wellington_data.head().reset_index()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"

In [124]:
Wellington1New = Wellington_data.reset_index().copy()

In [125]:
Wellington1New.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"

In [126]:
BMOCanaccordManuWell=pd.concat([BMOCanaccordManu,Wellington1New])

In [127]:
BMOCanaccordManuWell

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"

# Insustrial Alliance

In [128]:
IA = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\IA report.xlsx', sheet_name='iA upload')
IA.insert(loc=0, column='Currency', value='CAD', allow_duplicates=True)
IA.head()

,Currency,Platform,Mandate,ReportingDate,IA Code,Advisor,Market Value,CommissionDate,Sales,Redemptions
0,CAD,Industrial Alliance,North American Dividend Income Strategy,2022-04-30,SSUW,Greg Frost,"138,741.12",2022-04-30,NaN,NaN
1,CAD,Industrial Alliance,North American Dividend Income Strategy,2022-04-30,SSUW,Greg Frost,"136,388.03",2022-04-30,NaN,NaN
2,CAD,Industrial Alliance,North American Dividend Income Strategy,2022-04-30,SSUW,Greg Frost,"134,908.38",2022-04-30,NaN,NaN
3,CAD,Industrial Alliance,North American Dividend Income Strategy,2022-04-30,SSUW,Greg Frost,"171,656.29",2022-04-30,NaN,NaN
4,CAD,Industrial Alliance,North American Dividend Income Strategy,2022-04-30,SSUW,Greg Frost,"197,594.80",2022-04-30,NaN,NaN

In [129]:
IA['ReportingDate'] = pd.to_datetime(IA['ReportingDate'])
IA['ReportingDate'] = IA['ReportingDate'].dt.strftime('%m-%Y')
IA.head()

,Currency,Platform,Mandate,ReportingDate,IA Code,Advisor,Market Value,CommissionDate,Sales,Redemptions
0,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"138,741.12",2022-04-30,NaN,NaN
1,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"136,388.03",2022-04-30,NaN,NaN
2,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"134,908.38",2022-04-30,NaN,NaN
3,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"171,656.29",2022-04-30,NaN,NaN
4,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"197,594.80",2022-04-30,NaN,NaN

In [130]:
IA.rename(columns={'ReportingDate' : 'Date', 'Platform' : 'Platform', 'Mandate' : 'Mandate', 'Currency' :'Currency', 'Sales' :'Sales','Redemptions' :'Redemptions','Market Value' : 'Assets'}, inplace=True)

In [131]:
IA.head()

,Currency,Platform,Mandate,Date,IA Code,Advisor,Assets,CommissionDate,Sales,Redemptions
0,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"138,741.12",2022-04-30,NaN,NaN
1,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"136,388.03",2022-04-30,NaN,NaN
2,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"134,908.38",2022-04-30,NaN,NaN
3,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"171,656.29",2022-04-30,NaN,NaN
4,CAD,Industrial Alliance,North American Dividend Income Strategy,04-2022,SSUW,Greg Frost,"197,594.80",2022-04-30,NaN,NaN

In [132]:
IA1 = pd.DataFrame(IA, columns= ['Date','Platform','Mandate','Currency','Sales','Redemptions','Assets'])
IA1

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"138,741.12"
1,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"136,388.03"
2,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"134,908.38"
3,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"171,656.29"
4,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"197,594.80"
5,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"193,890.41"
6,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"167,007.78"
7,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"340,866.55"
8,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,"-3,840.03","2,488,973.43"
9,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,NaN,NaN,"285,096.27"

In [133]:
IA_groups= IA1.groupby(['Date','Platform','Mandate', 'Currency'])
IA_data=IA_groups.sum()
IA_data.head().reset_index()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.00,"-3,840.03","4,255,123.06"

In [134]:
IANew = IA_data.reset_index().copy()
IANew

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.00,"-3,840.03","4,255,123.06"

In [135]:
BMOCanaccordManuWellIA=pd.concat([BMOCanaccordManuWell,IANew])
BMOCanaccordManuWellIA

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.00,"-3,840.03","4,255,123.06"

# Raymond James

In [136]:
RJS = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\RJ - Cash Flow.xlsx', sheet_name='RJ Cash Flow')
RJS.insert(loc=0, column='Platform', value='Raymond James', allow_duplicates=True)
RJS.insert(loc=0, column='Currency', value='CAD', allow_duplicates=True)
RJS.head()

,Currency,Platform,Contributions/Withdrawal,IA (Account),Short Name,Process Date (Trans),Trade Date (Trans),Account Number,Portfolio Type,Cusip,Primary Symbol,Qty (Trans),Amount (Trans),Settlement Date (Trans),Transaction Code,MM Name,MM Fund Name,Trans MV,Reporting Date
0,CAD,Raymond James,NaN,356P,MIKE ZUCCARO,2022-04-04,2022-04-04,1B5-41PA-0,P,NaN,NaN,0.00,"-3,601.40",2022-04-04,TSF - INTERNAL TRANSFER,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"3,601.40",2022-04-30
1,CAD,Raymond James,NaN,187P,ZUCCARO/ZUCCARO,2022-04-27,2022-04-27,1C4-6TPR-0,P,NaN,NaN,0.00,"-1,000.00",2022-04-27,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"1,000.00",2022-04-30
2,CAD,Raymond James,NaN,152P,CHAD WOOLSEY,2022-04-01,2022-04-01,1C7-C6PA-1,P,NaN,NaN,0.00,"-150,000.00",2022-04-01,TSF - INTERNAL TRANSFER,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"150,000.00",2022-04-30
3,CAD,Raymond James,NaN,140P,SAMUELS/DOWHANIU,2022-04-01,2022-04-01,1FC-YUPR-0,P,NaN,NaN,0.00,-500.00,2022-04-01,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,500.00,2022-04-30
4,CAD,Raymond James,NaN,140P,SAMUELS/DOWHANIU,2022-04-19,2022-04-19,1G1-SYPR-0,P,NaN,NaN,0.00,"-1,000.00",2022-04-19,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"1,000.00",2022-04-30

In [137]:
RJS['Reporting Date'] = pd.to_datetime(RJS['Reporting Date'])
RJS['Date'] = RJS['Reporting Date'].dt.strftime('%m-%Y')
RJS.head()

,Currency,Platform,Contributions/Withdrawal,IA (Account),Short Name,Process Date (Trans),Trade Date (Trans),Account Number,Portfolio Type,Cusip,Primary Symbol,Qty (Trans),Amount (Trans),Settlement Date (Trans),Transaction Code,MM Name,MM Fund Name,Trans MV,Reporting Date,Date
0,CAD,Raymond James,NaN,356P,MIKE ZUCCARO,2022-04-04,2022-04-04,1B5-41PA-0,P,NaN,NaN,0.00,"-3,601.40",2022-04-04,TSF - INTERNAL TRANSFER,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"3,601.40",2022-04-30,04-2022
1,CAD,Raymond James,NaN,187P,ZUCCARO/ZUCCARO,2022-04-27,2022-04-27,1C4-6TPR-0,P,NaN,NaN,0.00,"-1,000.00",2022-04-27,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"1,000.00",2022-04-30,04-2022
2,CAD,Raymond James,NaN,152P,CHAD WOOLSEY,2022-04-01,2022-04-01,1C7-C6PA-1,P,NaN,NaN,0.00,"-150,000.00",2022-04-01,TSF - INTERNAL TRANSFER,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"150,000.00",2022-04-30,04-2022
3,CAD,Raymond James,NaN,140P,SAMUELS/DOWHANIU,2022-04-01,2022-04-01,1FC-YUPR-0,P,NaN,NaN,0.00,-500.00,2022-04-01,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,500.00,2022-04-30,04-2022
4,CAD,Raymond James,NaN,140P,SAMUELS/DOWHANIU,2022-04-19,2022-04-19,1G1-SYPR-0,P,NaN,NaN,0.00,"-1,000.00",2022-04-19,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"1,000.00",2022-04-30,04-2022

In [138]:
RJS.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'MM Fund Name' : 'Mandate', 'Currency' :'Currency', 'Trans MV' :'Sales/Redemptions'}, inplace=True)
RJS.head()

,Currency,Platform,Contributions/Withdrawal,IA (Account),Short Name,Process Date (Trans),Trade Date (Trans),Account Number,Portfolio Type,Cusip,Primary Symbol,Qty (Trans),Amount (Trans),Settlement Date (Trans),Transaction Code,MM Name,Mandate,Sales/Redemptions,Reporting Date,Date
0,CAD,Raymond James,NaN,356P,MIKE ZUCCARO,2022-04-04,2022-04-04,1B5-41PA-0,P,NaN,NaN,0.00,"-3,601.40",2022-04-04,TSF - INTERNAL TRANSFER,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"3,601.40",2022-04-30,04-2022
1,CAD,Raymond James,NaN,187P,ZUCCARO/ZUCCARO,2022-04-27,2022-04-27,1C4-6TPR-0,P,NaN,NaN,0.00,"-1,000.00",2022-04-27,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"1,000.00",2022-04-30,04-2022
2,CAD,Raymond James,NaN,152P,CHAD WOOLSEY,2022-04-01,2022-04-01,1C7-C6PA-1,P,NaN,NaN,0.00,"-150,000.00",2022-04-01,TSF - INTERNAL TRANSFER,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"150,000.00",2022-04-30,04-2022
3,CAD,Raymond James,NaN,140P,SAMUELS/DOWHANIU,2022-04-01,2022-04-01,1FC-YUPR-0,P,NaN,NaN,0.00,-500.00,2022-04-01,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,500.00,2022-04-30,04-2022
4,CAD,Raymond James,NaN,140P,SAMUELS/DOWHANIU,2022-04-19,2022-04-19,1G1-SYPR-0,P,NaN,NaN,0.00,"-1,000.00",2022-04-19,CN - RRSP CONTRIBUTION,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,"1,000.00",2022-04-30,04-2022

In [139]:
RJS1 = pd.DataFrame(RJS, columns= ['Platform','Mandate','Currency','Date','Sales/Redemptions'])
RJS1.head()

        Platform               Mandate Currency     Date  Sales/Redemptions
0  Raymond James  N.A. DIVIDEND INCOME      CAD  04-2022           3,601.40
1  Raymond James  N.A. DIVIDEND INCOME      CAD  04-2022           1,000.00
2  Raymond James  N.A. DIVIDEND INCOME      CAD  04-2022         150,000.00
3  Raymond James  N.A. DIVIDEND INCOME      CAD  04-2022             500.00
4  Raymond James  N.A. DIVIDEND INCOME      CAD  04-2022           1,000.00

In [140]:
RJS1['Type Condition']= np.where(RJS1['Sales/Redemptions'] > 0, True, False)
RJS1['Type'] = RJS1['Type Condition'].map({True: 'Sales', False: 'Redemptions'})
RJS1.head()

,Platform,Mandate,Currency,Date,Sales/Redemptions,Type Condition,Type
0,Raymond James,N.A. DIVIDEND INCOME,CAD,04-2022,"3,601.40",True,Sales
1,Raymond James,N.A. DIVIDEND INCOME,CAD,04-2022,"1,000.00",True,Sales
2,Raymond James,N.A. DIVIDEND INCOME,CAD,04-2022,"150,000.00",True,Sales
3,Raymond James,N.A. DIVIDEND INCOME,CAD,04-2022,500.00,True,Sales
4,Raymond James,N.A. DIVIDEND INCOME,CAD,04-2022,"1,000.00",True,Sales

In [141]:
RJS1Sales= RJS1.groupby(['Date','Platform','Mandate','Currency', 'Type']).agg({'Sales/Redemptions' :sum}).add_prefix('Total_')
RJS1Sales.head()

                                                                       Total_Sales/Redemptions
Date    Platform      Mandate                    Currency Type
04-2022 Raymond James CANADIAN SMALL CAP EQUITY  CAD      Redemptions                -3,589.88
                      CDN GROWTH DIVIDEND EQUITY CAD      Redemptions                -1,900.00
                                                          Sales                     181,358.64
                      N.A. DIVIDEND INCOME       CAD      Redemptions            -1,875,356.08
                                                          Sales                   3,406,536.75

In [142]:
RJS1SalesNew = RJS1Sales.reset_index().copy()
RJS1SalesNew.head()

,Date,Platform,Mandate,Currency,Type,Total_Sales/Redemptions
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,Redemptions,"-3,589.88"
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,Redemptions,"-1,900.00"
2,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,Sales,"181,358.64"
3,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,Redemptions,"-1,875,356.08"
4,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,Sales,"3,406,536.75"

In [143]:
RJsales= pd.pivot_table(RJS1Sales, values='Total_Sales/Redemptions', index=['Date','Platform','Mandate','Currency'],
                    columns=['Type'], aggfunc=np.sum).reset_index()
RJsales.head()

Type,Date,Platform,Mandate,Currency,Redemptions,Sales
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,"-3,589.88",NaN
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"-1,900.00","181,358.64"
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"-1,875,356.08","3,406,536.75"

In [144]:
RJA = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\RJ - Monthly AUM.xlsx', sheet_name='RJ Assets')
RJA.head()

,Short Name,MM Name,MM Fund Name,IA (Account),Account Number,Equity/RTS (Account),Funds (Account),Status,Joined,Reporting Date
0,B. PERREIRA,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,290N,1LA-9CPR-0,"195,651.42",C,A,2019-10-11,2022-04-30
1,B. PERREIRA,MANULIFE ASSET MANAGEMENT,CDN GROWTH DIVIDEND EQUITY,290N,1LA-LZPA-0,"153,535.08",C,A,2019-08-30,2022-04-30
2,B. PERREIRA,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,290N,1LA-6ZPA-2,"187,129.59",C,A,2019-10-09,2022-04-30
3,BIRD/MOORE,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,487P,1LB-Y9PR-0,"95,403.76",C,A,2020-10-01,2022-04-30
4,BIRD/MOORE,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,488P,1M2-VJPR-0,"325,140.74",C,A,2021-03-12,2022-04-30

In [145]:
RJA.rename(columns={'MM Fund Name' : 'Mandate', 'Equity/RTS (Account)' :'Assets'}, inplace=True)
RJA['Reporting Date'] = pd.to_datetime(RJA['Reporting Date'])
RJA['Date'] = RJA['Reporting Date'].dt.strftime('%m-%Y')
RJA.head()

,Short Name,MM Name,Mandate,IA (Account),Account Number,Assets,Funds (Account),Status,Joined,Reporting Date,Date
0,B. PERREIRA,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,290N,1LA-9CPR-0,"195,651.42",C,A,2019-10-11,2022-04-30,04-2022
1,B. PERREIRA,MANULIFE ASSET MANAGEMENT,CDN GROWTH DIVIDEND EQUITY,290N,1LA-LZPA-0,"153,535.08",C,A,2019-08-30,2022-04-30,04-2022
2,B. PERREIRA,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,290N,1LA-6ZPA-2,"187,129.59",C,A,2019-10-09,2022-04-30,04-2022
3,BIRD/MOORE,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,487P,1LB-Y9PR-0,"95,403.76",C,A,2020-10-01,2022-04-30,04-2022
4,BIRD/MOORE,MANULIFE ASSET MANAGEMENT,N.A. DIVIDEND INCOME,488P,1M2-VJPR-0,"325,140.74",C,A,2021-03-12,2022-04-30,04-2022

In [146]:
RJA1 = pd.DataFrame(RJA, columns= ['Date','Mandate','Assets'])
RJA1

        Date                     Mandate     Assets
0    04-2022        N.A. DIVIDEND INCOME 195,651.42
1    04-2022  CDN GROWTH DIVIDEND EQUITY 153,535.08
2    04-2022        N.A. DIVIDEND INCOME 187,129.59
3    04-2022        N.A. DIVIDEND INCOME  95,403.76
4    04-2022        N.A. DIVIDEND INCOME 325,140.74
..       ...                         ...        ...
467  04-2022        N.A. DIVIDEND INCOME 104,382.96
468  04-2022        N.A. DIVIDEND INCOME 152,050.75
469  04-2022        N.A. DIVIDEND INCOME 273,895.66
470  04-2022        N.A. DIVIDEND INCOME 122,226.95
471  04-2022        N.A. DIVIDEND INCOME 162,097.62

[472 rows x 3 columns]

In [147]:
RJAssets= RJA1.groupby(['Date','Mandate']).agg({'Assets' :sum})
RJAssets.head()

                                           Assets
Date    Mandate
04-2022 CANADIAN SMALL CAP EQUITY    1,634,879.99
        CDN GROWTH DIVIDEND EQUITY   5,792,504.35
        N.A. DIVIDEND INCOME       112,666,572.04

In [148]:
RJ=pd.merge(RJsales[['Date','Platform','Mandate','Currency','Sales','Redemptions']],RJAssets, on=['Mandate'],how='left')
RJ.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,0.00,"-3,589.88","1,634,879.99"
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"181,358.64","-1,900.00","5,792,504.35"
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"3,406,536.75","-1,875,356.08","112,666,572.04"

In [149]:
BMOCanaccordManuWellIARJ=pd.concat([BMOCanaccordManuWellIA,RJ])
BMOCanaccordManuWellIARJ.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.00,"-3,840.03","4,255,123.06"
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,0.00,"-3,589.88","1,634,879.99"
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"181,358.64","-1,900.00","5,792,504.35"
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"3,406,536.75","-1,875,356.08","112,666,572.04"

# RBC

In [150]:
RBCS = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\RBC Cash Flow.xlsx', sheet_name='RBC Flows')
RBCS.insert(loc=0, column='Platform', value='RBC', allow_duplicates=True)
RBCS.insert(loc=0, column='Currency', value='USD', allow_duplicates=True)
RBCS.head()

,Currency,Platform,Account Id,Advisor Name,Transaction Date,Sales Value,Redemptions Value,Net Sales Value,Product Name,Account Number,Advisor Rep Code,Account Rep Code,Reporting Date
0,USD,RBC,1052175,Luigi Rocca,2022-04-18,"294,176.77",0.00,"294,176.77",Manulife North American Dividend Income Manage...,3716273010,AT5,AWT,2022-04-30
1,USD,RBC,926295,Karl Schaub,2022-04-29,"200,082.42",0.00,"200,082.42",Manulife North American Dividend Income Manage...,3715423319,N2O,N55,2022-04-30
2,USD,RBC,1059321,Laura Douglas,2022-04-30,"158,703.13",0.00,"158,703.13",Manulife North American Dividend Income Manage...,3735435111,ERU,ETD,2022-04-30
3,USD,RBC,1058855,Steven Price,2022-04-30,"153,674.11",0.00,"153,674.11",Manulife North American Dividend Income Manage...,3716109719,EL4,EL4,2022-04-30
4,USD,RBC,1054842,Joanne Chisamore,2022-04-30,"151,136.40",0.00,"151,136.40",Manulife North American Dividend Income Manage...,3716302215,E74,E7N,2022-04-30

In [151]:
RBCS['Reporting Date'] = pd.to_datetime(RBCS['Reporting Date'])
RBCS['Date'] = RBCS['Reporting Date'].dt.strftime('%m-%Y')
RBCS.head()

,Currency,Platform,Account Id,Advisor Name,Transaction Date,Sales Value,Redemptions Value,Net Sales Value,Product Name,Account Number,Advisor Rep Code,Account Rep Code,Reporting Date,Date
0,USD,RBC,1052175,Luigi Rocca,2022-04-18,"294,176.77",0.00,"294,176.77",Manulife North American Dividend Income Manage...,3716273010,AT5,AWT,2022-04-30,04-2022
1,USD,RBC,926295,Karl Schaub,2022-04-29,"200,082.42",0.00,"200,082.42",Manulife North American Dividend Income Manage...,3715423319,N2O,N55,2022-04-30,04-2022
2,USD,RBC,1059321,Laura Douglas,2022-04-30,"158,703.13",0.00,"158,703.13",Manulife North American Dividend Income Manage...,3735435111,ERU,ETD,2022-04-30,04-2022
3,USD,RBC,1058855,Steven Price,2022-04-30,"153,674.11",0.00,"153,674.11",Manulife North American Dividend Income Manage...,3716109719,EL4,EL4,2022-04-30,04-2022
4,USD,RBC,1054842,Joanne Chisamore,2022-04-30,"151,136.40",0.00,"151,136.40",Manulife North American Dividend Income Manage...,3716302215,E74,E7N,2022-04-30,04-2022

In [152]:
RBCS.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'Product Name' : 'Mandate', 'Currency' :'Currency', 'Sales Value' :'Sales','Redemptions Value' :'Redemptions'}, inplace=True)
RBCS = pd.DataFrame(RBCS, columns= ['Date','Platform','Mandate','Currency','Sales','Redemptions'])
RBCS.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"294,176.77",0.00
1,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"200,082.42",0.00
2,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"158,703.13",0.00
3,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"153,674.11",0.00
4,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"151,136.40",0.00

In [153]:
RBCS.Redemptions=RBCS.Redemptions*-1
RBCS.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"294,176.77",-0.00
1,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"200,082.42",-0.00
2,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"158,703.13",-0.00
3,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"153,674.11",-0.00
4,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"151,136.40",-0.00

In [154]:
RBCS_groups= RBCS.groupby(['Date','Platform','Mandate', 'Currency'])
RBCSales=RBCS_groups.sum()
RBCSales

,,,,Sales,Redemptions
Date,Platform,Mandate,Currency,,
04-2022,RBC,Manulife North American Dividend Income Managed Account,USD,"3,196,419.65","-503,939.07"

In [155]:
RBCSNew = RBCSales.reset_index().copy()
RBCSNew.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"3,196,419.65","-503,939.07"

In [156]:
RBCA = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\RBC Monthly AUM.xlsx', sheet_name='RBC Assets')
RBCA.head()

,Account Id,Advisor Name,Product Name,Assets,Account Number,Reporting Date
0,306692,Keith Pavo,Manulife North American Dividend Income Manage...,"7,831,983.91",3703246912,2022-04-30
1,833008,Luigi Rocca,Manulife North American Dividend Income Manage...,"7,493,275.27",3703047914,2022-04-30
2,314258,Keith Pavo,Manulife North American Dividend Income Manage...,"3,951,647.05",3704151418,2022-04-30
3,932350,Bert Leeder,Manulife North American Dividend Income Manage...,"3,590,720.95",3715520817,2022-04-30
4,553796,Bryan Vickers,Manulife North American Dividend Income Manage...,"1,934,748.49",3708492818,2022-04-30

In [157]:
RBCA.rename(columns={'Product Name' : 'Mandate', 'Assets' :'Assets'}, inplace=True)
RBCA['Reporting Date'] = pd.to_datetime(RBCA['Reporting Date'])
RBCA['Date'] = RBCA['Reporting Date'].dt.strftime('%m-%Y')
RBCA.head()

,Account Id,Advisor Name,Mandate,Assets,Account Number,Reporting Date,Date
0,306692,Keith Pavo,Manulife North American Dividend Income Manage...,"7,831,983.91",3703246912,2022-04-30,04-2022
1,833008,Luigi Rocca,Manulife North American Dividend Income Manage...,"7,493,275.27",3703047914,2022-04-30,04-2022
2,314258,Keith Pavo,Manulife North American Dividend Income Manage...,"3,951,647.05",3704151418,2022-04-30,04-2022
3,932350,Bert Leeder,Manulife North American Dividend Income Manage...,"3,590,720.95",3715520817,2022-04-30,04-2022
4,553796,Bryan Vickers,Manulife North American Dividend Income Manage...,"1,934,748.49",3708492818,2022-04-30,04-2022

In [158]:
RBCA1 = pd.DataFrame(RBCA, columns= ['Date','Mandate','Assets'])
RBCA1

         Date                                            Mandate       Assets
0     04-2022  Manulife North American Dividend Income Manage... 7,831,983.91
1     04-2022  Manulife North American Dividend Income Manage... 7,493,275.27
2     04-2022  Manulife North American Dividend Income Manage... 3,951,647.05
3     04-2022  Manulife North American Dividend Income Manage... 3,590,720.95
4     04-2022  Manulife North American Dividend Income Manage... 1,934,748.49
...       ...                                                ...          ...
1325  04-2022  Manulife North American Dividend Income Manage...         0.00
1326  04-2022  Manulife North American Dividend Income Manage...         0.00
1327  04-2022  Manulife North American Dividend Income Manage...         0.00
1328  04-2022  Manulife North American Dividend Income Manage...         0.00
1329  04-2022  Manulife North American Dividend Income Manage...         0.00

[1330 rows x 3 columns]

In [159]:
RBCAssets= RBCA1.groupby(['Date','Mandate']).agg({'Assets' :sum})
RBCAssets.head()

                                                                   Assets
Date    Mandate
04-2022 Manulife North American Dividend Income Managed... 177,623,228.25

In [160]:
RBC=pd.merge(RBCSNew[['Date','Platform','Mandate','Currency','Sales','Redemptions']],RBCAssets, on=['Mandate'],how='left')
RBC.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"3,196,419.65","-503,939.07","177,623,228.25"

In [161]:
BMOCanaccordManuWellIARJRBC=pd.concat([BMOCanaccordManuWellIARJ,RBC])
BMOCanaccordManuWellIARJRBC.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.00,"-3,840.03","4,255,123.06"
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,0.00,"-3,589.88","1,634,879.99"
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"181,358.64","-1,900.00","5,792,504.35"
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"3,406,536.75","-1,875,356.08","112,666,572.04"
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"3,196,419.65","-503,939.07","177,623,228.25"

# TD Premier

In [162]:
TDS = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\TD Cash Flow.xlsx', sheet_name='TD Sales')
TDS.insert(loc=0, column='Platform', value='TD Premier', allow_duplicates=True)
TDS.insert(loc=0, column='Currency', value='CAD', allow_duplicates=True)
TDS.head()

,Currency,Platform,Mandate,IA Code,Investment Advisor,Value,Type,Report Date
0,CAD,TD Premier,MLCB,U1JB,Brian Jones,0.01,Inflow,2022-04-30
1,CAD,TD Premier,MLCB,U5PS,Peter Sorra,"360,424.53",Inflow,2022-04-30
2,CAD,TD Premier,MLCB,U9NC,Nicholas Childs,"-1,651.29",Outflow,2022-04-30
3,CAD,TD Premier,MLCB,UGSD,Dan Sigouin,-38.56,Outflow,2022-04-30
4,CAD,TD Premier,MLCB,UNB5,Grant Bell,-0.01,Outflow,2022-04-30

In [163]:
TDS['Report Date'] = pd.to_datetime(TDS['Report Date'])
TDS['Date'] = TDS['Report Date'].dt.strftime('%m-%Y')
TDS.head()

,Currency,Platform,Mandate,IA Code,Investment Advisor,Value,Type,Report Date,Date
0,CAD,TD Premier,MLCB,U1JB,Brian Jones,0.01,Inflow,2022-04-30,04-2022
1,CAD,TD Premier,MLCB,U5PS,Peter Sorra,"360,424.53",Inflow,2022-04-30,04-2022
2,CAD,TD Premier,MLCB,U9NC,Nicholas Childs,"-1,651.29",Outflow,2022-04-30,04-2022
3,CAD,TD Premier,MLCB,UGSD,Dan Sigouin,-38.56,Outflow,2022-04-30,04-2022
4,CAD,TD Premier,MLCB,UNB5,Grant Bell,-0.01,Outflow,2022-04-30,04-2022

In [164]:
TDS.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'Mandate' : 'Mandate', 'Currency' :'Currency', 'Value' :'Sales/Redemptions'}, inplace=True)
TDS.head()

,Currency,Platform,Mandate,IA Code,Investment Advisor,Sales/Redemptions,Type,Report Date,Date
0,CAD,TD Premier,MLCB,U1JB,Brian Jones,0.01,Inflow,2022-04-30,04-2022
1,CAD,TD Premier,MLCB,U5PS,Peter Sorra,"360,424.53",Inflow,2022-04-30,04-2022
2,CAD,TD Premier,MLCB,U9NC,Nicholas Childs,"-1,651.29",Outflow,2022-04-30,04-2022
3,CAD,TD Premier,MLCB,UGSD,Dan Sigouin,-38.56,Outflow,2022-04-30,04-2022
4,CAD,TD Premier,MLCB,UNB5,Grant Bell,-0.01,Outflow,2022-04-30,04-2022

In [165]:
TDS1 = pd.DataFrame(TDS, columns= ['Platform','Mandate','Currency','Date','Sales/Redemptions'])
TDS1.head()

     Platform Mandate Currency     Date  Sales/Redemptions
0  TD Premier    MLCB      CAD  04-2022               0.01
1  TD Premier    MLCB      CAD  04-2022         360,424.53
2  TD Premier    MLCB      CAD  04-2022          -1,651.29
3  TD Premier    MLCB      CAD  04-2022             -38.56
4  TD Premier    MLCB      CAD  04-2022              -0.01

In [166]:
TDS1['Type Condition']= np.where(TDS1['Sales/Redemptions'] > 0, True, False)
TDS1['Type'] = TDS1['Type Condition'].map({True: 'Sales', False: 'Redemptions'})
TDS1.head()

,Platform,Mandate,Currency,Date,Sales/Redemptions,Type Condition,Type
0,TD Premier,MLCB,CAD,04-2022,0.01,True,Sales
1,TD Premier,MLCB,CAD,04-2022,"360,424.53",True,Sales
2,TD Premier,MLCB,CAD,04-2022,"-1,651.29",False,Redemptions
3,TD Premier,MLCB,CAD,04-2022,-38.56,False,Redemptions
4,TD Premier,MLCB,CAD,04-2022,-0.01,False,Redemptions

In [167]:
TDS1Sales= TDS1.groupby(['Date','Platform','Mandate','Currency', 'Type']).agg({'Sales/Redemptions' :sum}).add_prefix('Total_')
TDS1Sales.head()

                                                 Total_Sales/Redemptions
Date    Platform   Mandate Currency Type
04-2022 TD Premier MLCB    CAD      Redemptions              -301,026.59
                                    Sales                   4,899,083.58
                   MLFI    CAD      Redemptions            -1,114,310.18
                                    Sales                      46,939.61
                   MLNB    CAD      Redemptions              -841,182.21

In [168]:
TDS1SalesNew = TDS1Sales.reset_index().copy()
TDS1SalesNew.head()

      Date    Platform Mandate Currency         Type  Total_Sales/Redemptions
0  04-2022  TD Premier    MLCB      CAD  Redemptions              -301,026.59
1  04-2022  TD Premier    MLCB      CAD        Sales             4,899,083.58
2  04-2022  TD Premier    MLFI      CAD  Redemptions            -1,114,310.18
3  04-2022  TD Premier    MLFI      CAD        Sales                46,939.61
4  04-2022  TD Premier    MLNB      CAD  Redemptions              -841,182.21

In [169]:
TDsales= pd.pivot_table(TDS1Sales, values='Total_Sales/Redemptions', index=['Date','Platform','Mandate','Currency'],
                    columns=['Type'], aggfunc=np.sum).reset_index()
TDsales.head()

Type     Date    Platform Mandate Currency   Redemptions        Sales
0     04-2022  TD Premier    MLCB      CAD   -301,026.59 4,899,083.58
1     04-2022  TD Premier    MLFI      CAD -1,114,310.18    46,939.61
2     04-2022  TD Premier    MLNB      CAD   -841,182.21 1,195,347.85
3     04-2022  TD Premier    MLND      CAD   -174,417.62 4,040,768.41
4     04-2022  TD Premier    MUUA      CAD   -265,789.40 2,210,964.59

In [170]:
TDA = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\TD Monthly AUM.xlsx', sheet_name='TD Assets')
TDA.head()

  Mandate IA Code      IA Name  Total Value    Type Report Date
0    MLCB    U1JB  BRIAN JONES    74,540.64  Assets  2022-04-30
1    MLCB    U5PS  PETER SORRA    49,739.90  Assets  2022-04-30
2    MLCB    U5PS  PETER SORRA    85,708.15  Assets  2022-04-30
3    MLCB    U5PS  PETER SORRA   100,956.29  Assets  2022-04-30
4    MLCB    U5PS  PETER SORRA   249,392.64  Assets  2022-04-30

In [171]:
TDA.rename(columns={'Mandate' : 'Mandate', 'Total Value' :'Assets'}, inplace=True)
TDA['Report Date'] = pd.to_datetime(TDA['Report Date'])
TDA['Date'] = TDA['Report Date'].dt.strftime('%m-%Y')
TDA.head()

  Mandate IA Code      IA Name     Assets    Type Report Date     Date
0    MLCB    U1JB  BRIAN JONES  74,540.64  Assets  2022-04-30  04-2022
1    MLCB    U5PS  PETER SORRA  49,739.90  Assets  2022-04-30  04-2022
2    MLCB    U5PS  PETER SORRA  85,708.15  Assets  2022-04-30  04-2022
3    MLCB    U5PS  PETER SORRA 100,956.29  Assets  2022-04-30  04-2022
4    MLCB    U5PS  PETER SORRA 249,392.64  Assets  2022-04-30  04-2022

In [172]:
TDA1 = pd.DataFrame(TDA, columns= ['Date','Mandate','Assets'])
TDA1

         Date Mandate     Assets
0     04-2022    MLCB  74,540.64
1     04-2022    MLCB  49,739.90
2     04-2022    MLCB  85,708.15
3     04-2022    MLCB 100,956.29
4     04-2022    MLCB 249,392.64
...       ...     ...        ...
1338  04-2022    MLND 285,622.10
1339  04-2022    MLNB 194,388.60
1340  04-2022    MLNB 212,611.89
1341  04-2022    MLNB 231,330.47
1342  04-2022    MLNB 234,786.00

[1343 rows x 3 columns]

In [173]:
TDAssets= TDA1.groupby(['Date','Mandate']).agg({'Assets' :sum})
TDAssets.head()

                        Assets
Date    Mandate
04-2022 MLCB     61,606,746.21
        MLFI     34,419,976.80
        MLNB     99,094,051.93
        MLND    117,245,497.68
        MUUA     93,677,650.64

In [174]:
TD=pd.merge(TDsales[['Date','Platform','Mandate','Currency','Sales','Redemptions']],TDAssets, on=['Mandate'],how='left')
TD.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,TD Premier,MLCB,CAD,"4,899,083.58","-301,026.59","61,606,746.21"
1,04-2022,TD Premier,MLFI,CAD,"46,939.61","-1,114,310.18","34,419,976.80"
2,04-2022,TD Premier,MLNB,CAD,"1,195,347.85","-841,182.21","99,094,051.93"
3,04-2022,TD Premier,MLND,CAD,"4,040,768.41","-174,417.62","117,245,497.68"
4,04-2022,TD Premier,MUUA,CAD,"2,210,964.59","-265,789.40","93,677,650.64"

In [175]:
BMOCanaccordManuWellIARJRBCTD=pd.concat([BMOCanaccordManuWellIARJRBC,TD])
BMOCanaccordManuWellIARJRBCTD.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.00,"-3,840.03","4,255,123.06"
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,0.00,"-3,589.88","1,634,879.99"
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"181,358.64","-1,900.00","5,792,504.35"
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"3,406,536.75","-1,875,356.08","112,666,572.04"
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"3,196,419.65","-503,939.07","177,623,228.25"
0,04-2022,TD Premier,MLCB,CAD,"4,899,083.58","-301,026.59","61,606,746.21"
1,04-2022,TD Premier,MLFI,CAD,"46,939.61","-1,114,310.18","34,419,976.80"
2,04-2022,TD Premier,MLNB,CAD,"1,195,347.85","-841,182.21","99,094,051.93"
3,04-2022,TD Premier,MLND,CAD,"4,040,768.41","-174,417.62","117,245,497.68"
4,04-2022,TD Premier,MUUA,CAD,"2,210,964.59","-265,789.40","93,677,650.64"

# Richardson GMP

In [176]:
GMP = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\GMP report.xlsx', sheet_name='GMP upload')
GMP.insert(loc=0, column='Currency', value='CAD', allow_duplicates=True)
GMP.insert(loc=0, column='Platform', value='Richardson GMP', allow_duplicates=True)
GMP.head()

,Platform,Currency,Model Name,Account Code,Broker,Market Value (CAD),% of Mandate,Open Date,Close Date,Contributions (CAD),Withdrawals (CAD),Date
0,Richardson GMP,CAD,Canadian Core Fixed Income,40KS6D4A,MBP Sterling Partners,"7,234,151.17",0.61,NaN,NaN,NaN,"3,000,000.00",2022-04-30
1,Richardson GMP,CAD,Canadian Core Fixed Income,41K7050T,Falkenberg-Poetz & Pidhirniak Wealth,"205,609.30",0.02,NaN,NaN,NaN,NaN,2022-04-30
2,Richardson GMP,CAD,Canadian Core Fixed Income,42K8TQ1E,David Chipman,"3,906,341.39",0.33,NaN,NaN,NaN,NaN,2022-04-30
3,Richardson GMP,CAD,Canadian Core Fixed Income,42KEYN0R,CARSON/MORSON,"126,773.38",0.01,NaN,NaN,NaN,NaN,2022-04-30
4,Richardson GMP,CAD,Canadian Core Fixed Income,42KF2C0T,CARSON/MORSON,"94,159.66",0.01,NaN,NaN,NaN,NaN,2022-04-30

In [177]:
GMP.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'Model Name' : 'Mandate', 'Currency' :'Currency', 'Contributions (CAD)' :'Sales','Withdrawals (CAD)' :'Redemptions','Market Value (CAD)' : 'Assets'}, inplace=True)
GMP['Date'] = pd.to_datetime(GMP['Date'])
GMP['Date'] = GMP['Date'].dt.strftime('%m-%Y')
GMP.head()

,Platform,Currency,Mandate,Account Code,Broker,Assets,% of Mandate,Open Date,Close Date,Sales,Redemptions,Date
0,Richardson GMP,CAD,Canadian Core Fixed Income,40KS6D4A,MBP Sterling Partners,"7,234,151.17",0.61,NaN,NaN,NaN,"3,000,000.00",04-2022
1,Richardson GMP,CAD,Canadian Core Fixed Income,41K7050T,Falkenberg-Poetz & Pidhirniak Wealth,"205,609.30",0.02,NaN,NaN,NaN,NaN,04-2022
2,Richardson GMP,CAD,Canadian Core Fixed Income,42K8TQ1E,David Chipman,"3,906,341.39",0.33,NaN,NaN,NaN,NaN,04-2022
3,Richardson GMP,CAD,Canadian Core Fixed Income,42KEYN0R,CARSON/MORSON,"126,773.38",0.01,NaN,NaN,NaN,NaN,04-2022
4,Richardson GMP,CAD,Canadian Core Fixed Income,42KF2C0T,CARSON/MORSON,"94,159.66",0.01,NaN,NaN,NaN,NaN,04-2022

In [178]:
GMP1 = pd.DataFrame(GMP, columns= ['Date','Platform','Mandate','Currency','Sales','Redemptions','Assets'])
GMP1

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,"3,000,000.00","7,234,151.17"
1,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"205,609.30"
2,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"3,906,341.39"
3,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"126,773.38"
4,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"94,159.66"
5,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"96,429.25"
6,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"155,357.46"
7,04-2022,Richardson GMP,Corporate Bond,CAD,NaN,NaN,"11,145,032.20"
8,04-2022,Richardson GMP,Corporate Bond,CAD,NaN,"18,538.23","3,995,641.57"
9,04-2022,Richardson GMP,Corporate Bond,CAD,NaN,NaN,"1,391,029.59"

In [179]:
GMP1.Redemptions=GMP1.Redemptions*-1
GMP1.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,"-3,000,000.00","7,234,151.17"
1,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"205,609.30"
2,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"3,906,341.39"
3,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"126,773.38"
4,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,NaN,NaN,"94,159.66"

In [180]:
GMP_groups= GMP1.groupby(['Date','Platform','Mandate', 'Currency'])
GMP_data=GMP_groups.sum()
GMP_data.head().reset_index()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,0.00,"-3,000,000.00","11,818,821.61"
1,04-2022,Richardson GMP,Corporate Bond,CAD,0.00,"-18,538.23","16,531,703.36"

In [181]:
GMPNew = GMP_data.reset_index().copy()
GMPNew

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,0.00,"-3,000,000.00","11,818,821.61"
1,04-2022,Richardson GMP,Corporate Bond,CAD,0.00,"-18,538.23","16,531,703.36"

In [182]:
BMOCanaccordManuWellIARJRBCTDGMP=pd.concat([BMOCanaccordManuWellIARJRBCTD,GMPNew])
BMOCanaccordManuWellIARJRBCTDGMP.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.00,0.00,"247,774.27"
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.77","-268,930.18","37,032,383.73"
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.00,0.00,"1,358,647.01"
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.00,0.00,"199,918.65"
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.00,0.00,"3,430,551.17"
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.00,"-1,165.88","1,231,725.94"
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.00,0.00,"6,108,495.05"
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.00,-650.00,"11,270,683.01"
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.00,"-1,650.00","1,461,598.33"
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.16","-88,234.92","23,066,349.45"
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.00,0.00,"7,692,465.80"
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.46","-45,844.91","5,488,762.93"
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.00,0.00,"9,637,798.20"
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.38",0.00,"24,008,556.58"
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.00,0.00,"1,793,744.27"
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.00,0.00,"8,547,945.90"
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.00,"-3,840.03","4,255,123.06"
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,0.00,"-3,589.88","1,634,879.99"
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"181,358.64","-1,900.00","5,792,504.35"
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"3,406,536.75","-1,875,356.08","112,666,572.04"
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"3,196,419.65","-503,939.07","177,623,228.25"
0,04-2022,TD Premier,MLCB,CAD,"4,899,083.58","-301,026.59","61,606,746.21"
1,04-2022,TD Premier,MLFI,CAD,"46,939.61","-1,114,310.18","34,419,976.80"
2,04-2022,TD Premier,MLNB,CAD,"1,195,347.85","-841,182.21","99,094,051.93"
3,04-2022,TD Premier,MLND,CAD,"4,040,768.41","-174,417.62","117,245,497.68"
4,04-2022,TD Premier,MUUA,CAD,"2,210,964.59","-265,789.40","93,677,650.64"
0,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,0.00,"-3,000,000.00","11,818,821.61"
1,04-2022,Richardson GMP,Corporate Bond,CAD,0.00,"-18,538.23","16,531,703.36"

# CIBC

In [183]:
CIBC = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\CIBC Cash Flow.xlsx', sheet_name='CIBC Flow')
CIBC.insert(loc=0, column='Platform', value='CIBC ICS', allow_duplicates=True)
CIBC.insert(loc=0, column='Currency', value='CAD', allow_duplicates=True)
CIBC.head()

,Currency,Platform,FC Name,FC,Branch Name,From Date,To Date,Opened Amount,Opened Accts,Deposit Amount,...,Total In Amount,Closed Amount,Closed Accts,Withdrawal Amount,Fees Out Amount,Total Out Amount,Total Net Amount,Rank Total Net Amount,Pct Total Net Amount,Mandate
0,CAD,CIBC ICS,Abandoned Property,ACY,TORONTO - ADMINISTRA,20220401,2022-04-30,0,0,0,...,0,-2087676,1,0,0,-2087676,-2087676,25,85.78,Manulife Canadian Bond
1,CAD,CIBC ICS,Andy Dencs,E4V,CIBC WORLD MARKETS I,20220401,2022-04-30,0,0,0,...,0,0,0,-1580,0,-1580,-1580,12,0.06,Manulife Canadian Bond
2,CAD,CIBC ICS,Anton Voronoff,AT6,RK REGION,20220401,2022-04-30,0,0,0,...,0,-88816,1,0,0,-88816,-88816,23,3.65,Manulife Canadian Bond
3,CAD,CIBC ICS,Anton Voronoff,AUC,RK REGION,20220401,2022-04-30,46,1,130166,...,130213,-121394,1,-8818,0,-130213,0,4,0.00,Manulife Canadian Bond
4,CAD,CIBC ICS,Barry Maierhoffer,RGS,CIBC WORLD MARKETS I,20220401,2022-04-30,0,0,0,...,0,0,0,-4500,0,-4500,-4500,16,0.18,Manulife Canadian Bond

In [184]:
CIBC['To Date'] = pd.to_datetime(CIBC['To Date'])
CIBC['Date'] = CIBC['To Date'].dt.strftime('%m-%Y')
CIBC.head()

,Currency,Platform,FC Name,FC,Branch Name,From Date,To Date,Opened Amount,Opened Accts,Deposit Amount,...,Closed Amount,Closed Accts,Withdrawal Amount,Fees Out Amount,Total Out Amount,Total Net Amount,Rank Total Net Amount,Pct Total Net Amount,Mandate,Date
0,CAD,CIBC ICS,Abandoned Property,ACY,TORONTO - ADMINISTRA,20220401,2022-04-30,0,0,0,...,-2087676,1,0,0,-2087676,-2087676,25,85.78,Manulife Canadian Bond,04-2022
1,CAD,CIBC ICS,Andy Dencs,E4V,CIBC WORLD MARKETS I,20220401,2022-04-30,0,0,0,...,0,0,-1580,0,-1580,-1580,12,0.06,Manulife Canadian Bond,04-2022
2,CAD,CIBC ICS,Anton Voronoff,AT6,RK REGION,20220401,2022-04-30,0,0,0,...,-88816,1,0,0,-88816,-88816,23,3.65,Manulife Canadian Bond,04-2022
3,CAD,CIBC ICS,Anton Voronoff,AUC,RK REGION,20220401,2022-04-30,46,1,130166,...,-121394,1,-8818,0,-130213,0,4,0.00,Manulife Canadian Bond,04-2022
4,CAD,CIBC ICS,Barry Maierhoffer,RGS,CIBC WORLD MARKETS I,20220401,2022-04-30,0,0,0,...,0,0,-4500,0,-4500,-4500,16,0.18,Manulife Canadian Bond,04-2022

In [185]:
CIBC.rename(columns={'Date' : 'Date', 'Platform' : 'Platform', 'Mandate' : 'Mandate', 'Currency' :'Currency', 'Total In Amount' :'Sales','Total Out Amount' :'Redemptions'}, inplace=True)
CIBC.head()

,Currency,Platform,FC Name,FC,Branch Name,From Date,To Date,Opened Amount,Opened Accts,Deposit Amount,...,Closed Amount,Closed Accts,Withdrawal Amount,Fees Out Amount,Redemptions,Total Net Amount,Rank Total Net Amount,Pct Total Net Amount,Mandate,Date
0,CAD,CIBC ICS,Abandoned Property,ACY,TORONTO - ADMINISTRA,20220401,2022-04-30,0,0,0,...,-2087676,1,0,0,-2087676,-2087676,25,85.78,Manulife Canadian Bond,04-2022
1,CAD,CIBC ICS,Andy Dencs,E4V,CIBC WORLD MARKETS I,20220401,2022-04-30,0,0,0,...,0,0,-1580,0,-1580,-1580,12,0.06,Manulife Canadian Bond,04-2022
2,CAD,CIBC ICS,Anton Voronoff,AT6,RK REGION,20220401,2022-04-30,0,0,0,...,-88816,1,0,0,-88816,-88816,23,3.65,Manulife Canadian Bond,04-2022
3,CAD,CIBC ICS,Anton Voronoff,AUC,RK REGION,20220401,2022-04-30,46,1,130166,...,-121394,1,-8818,0,-130213,0,4,0.00,Manulife Canadian Bond,04-2022
4,CAD,CIBC ICS,Barry Maierhoffer,RGS,CIBC WORLD MARKETS I,20220401,2022-04-30,0,0,0,...,0,0,-4500,0,-4500,-4500,16,0.18,Manulife Canadian Bond,04-2022

In [186]:
CIBCS = pd.DataFrame(CIBC, columns= ['Date','Platform','Mandate','Currency','Sales','Redemptions'])
CIBCS.head()

      Date  Platform                 Mandate Currency   Sales  Redemptions
0  04-2022  CIBC ICS  Manulife Canadian Bond      CAD       0     -2087676
1  04-2022  CIBC ICS  Manulife Canadian Bond      CAD       0        -1580
2  04-2022  CIBC ICS  Manulife Canadian Bond      CAD       0       -88816
3  04-2022  CIBC ICS  Manulife Canadian Bond      CAD  130213      -130213
4  04-2022  CIBC ICS  Manulife Canadian Bond      CAD       0        -4500

In [187]:
CIBCS_groups= CIBCS.groupby(['Date','Platform','Mandate', 'Currency'])
CIBCSSales=CIBCS_groups.sum()
CIBCSSales

                                                                       Sales  \
Date    Platform Mandate                                   Currency
04-2022 CIBC ICS Manulife Canadian Bond                    CAD        181897
                 Manulife Canadian Large-Cap Equity Growth CAD       1784999
                 Manulife N.A. Dividend Income             CAD       4587547

                                                                     Redemptions
Date    Platform Mandate                                   Currency
04-2022 CIBC ICS Manulife Canadian Bond                    CAD          -2615763
                 Manulife Canadian Large-Cap Equity Growth CAD            -43729
                 Manulife N.A. Dividend Income             CAD           -309480

In [188]:
CIBCSales = CIBCSSales.reset_index().copy()
CIBCSales.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions
0,04-2022,CIBC ICS,Manulife Canadian Bond,CAD,181897,-2615763
1,04-2022,CIBC ICS,Manulife Canadian Large-Cap Equity Growth,CAD,1784999,-43729
2,04-2022,CIBC ICS,Manulife N.A. Dividend Income,CAD,4587547,-309480

In [189]:
CIBCA = pd.read_excel (r'S:\can\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\CIBC Assets.xlsx', sheet_name='CIBC Assets')
CIBCA.head()

,IA Name,IA,WS,Curr,Mktval Value,Book Value,Currents Accounts,Branch,Telephone,Branch Address 1,Branch Address 2,Branch Address 3,Branch Address 4,IM Nbr,Date,Mandate
0,Fred Guzzi CFA CFP CIM FEA FCSI,SZ4,O5,CAD,15115280,16693869,2,Toronto Bay Adelaide,(416) 594-7950,333 Bay Street 28th floor,West Tower,Toronto ON M5H 2R2,NaN,952,2022-04-30,Manulife Canadian Bond
1,Fred Guzzi CFA CFP CIM FMA FCSI,SZ6,O5,CAD,9548384,10490289,4,Toronto Bay Adelaide,(416) 594-7950,333 Bay Street 28th floor,West Tower,Toronto ON M5H 2R2,NaN,952,2022-04-30,Manulife Canadian Bond
2,Anton Voronoff,AT6,O7,CAD,8732297,9722254,13,York Region,(905) 762-2333,123 Commerce Valley Drive E.,Suite 100,Thornhill ON L3T 7W8,NaN,952,2022-04-30,Manulife Canadian Bond
3,Laura Cameron,EL7,O3,CAD,7104836,7811714,46,Oakville,(905) 842-6770,277 Lakeshore Road E.,Oakville ON L6J 6J3,NaN,NaN,952,2022-04-30,Manulife Canadian Bond
4,D.Hoyle/D.Heath/J.Hoyle,PR0,W2,CAD,6570821,7225110,8,Vancouver Park Place,(604) 665-5661,Suite 400,1285 West Pender Street,Vancouver BC V6E 4B1,NaN,952,2022-04-30,Manulife Canadian Bond

In [190]:
CIBCA.rename(columns={'Mandate' : 'Mandate', 'Mktval Value' :'Assets'}, inplace=True)
CIBCA['Date'] = pd.to_datetime(CIBCA['Date'])
CIBCA['Date'] = CIBCA['Date'].dt.strftime('%m-%Y')
CIBCA.head()

,IA Name,IA,WS,Curr,Assets,Book Value,Currents Accounts,Branch,Telephone,Branch Address 1,Branch Address 2,Branch Address 3,Branch Address 4,IM Nbr,Date,Mandate
0,Fred Guzzi CFA CFP CIM FEA FCSI,SZ4,O5,CAD,15115280,16693869,2,Toronto Bay Adelaide,(416) 594-7950,333 Bay Street 28th floor,West Tower,Toronto ON M5H 2R2,NaN,952,04-2022,Manulife Canadian Bond
1,Fred Guzzi CFA CFP CIM FMA FCSI,SZ6,O5,CAD,9548384,10490289,4,Toronto Bay Adelaide,(416) 594-7950,333 Bay Street 28th floor,West Tower,Toronto ON M5H 2R2,NaN,952,04-2022,Manulife Canadian Bond
2,Anton Voronoff,AT6,O7,CAD,8732297,9722254,13,York Region,(905) 762-2333,123 Commerce Valley Drive E.,Suite 100,Thornhill ON L3T 7W8,NaN,952,04-2022,Manulife Canadian Bond
3,Laura Cameron,EL7,O3,CAD,7104836,7811714,46,Oakville,(905) 842-6770,277 Lakeshore Road E.,Oakville ON L6J 6J3,NaN,NaN,952,04-2022,Manulife Canadian Bond
4,D.Hoyle/D.Heath/J.Hoyle,PR0,W2,CAD,6570821,7225110,8,Vancouver Park Place,(604) 665-5661,Suite 400,1285 West Pender Street,Vancouver BC V6E 4B1,NaN,952,04-2022,Manulife Canadian Bond

In [191]:
CIBCA1 = pd.DataFrame(CIBCA, columns= ['Date','Mandate','Assets'])
CIBCA1

        Date                        Mandate    Assets
0    04-2022         Manulife Canadian Bond  15115280
1    04-2022         Manulife Canadian Bond   9548384
2    04-2022         Manulife Canadian Bond   8732297
3    04-2022         Manulife Canadian Bond   7104836
4    04-2022         Manulife Canadian Bond   6570821
..       ...                            ...       ...
315  04-2022  Manulife N.A. Dividend Income     72935
316  04-2022  Manulife N.A. Dividend Income     72437
317  04-2022  Manulife N.A. Dividend Income     69884
318  04-2022  Manulife N.A. Dividend Income     54809
319  04-2022  Manulife N.A. Dividend Income        11

[320 rows x 3 columns]

In [192]:
CIBCAssets= CIBCA1.groupby(['Date','Mandate']).agg({'Assets' :sum})
CIBCAssets.head()

                                                      Assets
Date    Mandate
04-2022 Manulife Canadian Bond                     115647597
        Manulife Canadian Large-Cap Equity Growth   59966062
        Manulife N.A. Dividend Income              119469468

In [193]:
CIBC=pd.merge(CIBCSales[['Date','Platform','Mandate','Currency','Sales','Redemptions']],CIBCAssets, on=['Mandate'],how='left')
CIBC.fillna(0)

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,CIBC ICS,Manulife Canadian Bond,CAD,181897,-2615763,115647597
1,04-2022,CIBC ICS,Manulife Canadian Large-Cap Equity Growth,CAD,1784999,-43729,59966062
2,04-2022,CIBC ICS,Manulife N.A. Dividend Income,CAD,4587547,-309480,119469468

In [194]:
BMOCanaccordManuWellIARJRBCTDGMPCIBC=pd.concat([BMOCanaccordManuWellIARJRBCTDGMP,CIBC])
pd.set_option("display.max_rows", None)
BMOCanaccordManuWellIARJRBCTDGMPCIBC.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.39","-9,345,704.68","195,644,347.59"
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.77","-311,413.05","82,980,650.34"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.18","-944,993.63","186,921,491.25"
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.00,0.00,"683,169.58"
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.00,0.00,"452,411.54"

In [195]:
pd.options.display.float_format = '{:,.4f}'.format

In [196]:
BMOCanaccordManuWellIARJRBCTDGMPCIBC['BS'] = np.where(BMOCanaccordManuWellIARJRBCTDGMPCIBC['Currency'] == 'USD', 1.2792,1)
BMOCanaccordManuWellIARJRBCTDGMPCIBC['IS'] = np.where(BMOCanaccordManuWellIARJRBCTDGMPCIBC['Currency'] == 'USD', 1.2792,1)

In [197]:
pd.set_option("display.precision", 4)

In [198]:
BMOCanaccordManuWellIARJRBCTDGMPCIBC.head()

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets,BS,IS
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.3900","-9,345,704.6800","195,644,347.5900",1.0000,1.0000
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.7700","-311,413.0500","82,980,650.3400",1.0000,1.0000
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.1800","-944,993.6300","186,921,491.2500",1.2792,1.2792
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.0000,0.0000,"683,169.5800",1.2792,1.2792
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.0000,0.0000,"452,411.5400",1.2792,1.2792

In [199]:
BMOCanaccordManuWellIARJRBCTDGMPCIBC.loc[(BMOCanaccordManuWellIARJRBCTDGMPCIBC['Platform'] == 'BMO Architect') & (BMOCanaccordManuWellIARJRBCTDGMPCIBC['Currency'] == 'USD'), 'BS'] = 1

In [200]:
BMOCanaccordManuWellIARJRBCTDGMPCIBC

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets,BS,IS
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.3900","-9,345,704.6800","195,644,347.5900",1.0000,1.0000
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.7700","-311,413.0500","82,980,650.3400",1.0000,1.0000
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,326,292.1800","-944,993.6300","186,921,491.2500",1.0000,1.2792
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.0000,0.0000,"683,169.5800",1.2792,1.2792
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.0000,0.0000,"452,411.5400",1.2792,1.2792
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.0000,0.0000,"247,774.2700",1.2792,1.2792
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"229,110.7700","-268,930.1772","37,032,383.7300",1.2792,1.2792
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.0000,0.0000,"1,358,647.0100",1.2792,1.2792
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.0000,0.0000,"199,918.6500",1.2792,1.2792
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.0000,0.0000,"3,430,551.1700",1.2792,1.2792
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.0000,"-1,165.8800","1,231,725.9400",1.0000,1.0000
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.0000,0.0000,"6,108,495.0500",1.0000,1.0000
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.0000,-650.0000,"11,270,683.0100",1.0000,1.0000
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.0000,"-1,650.0000","1,461,598.3300",1.0000,1.0000
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.1600","-88,234.9200","23,066,349.4500",1.0000,1.0000
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.0000,0.0000,"7,692,465.8000",1.0000,1.0000
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.4600","-45,844.9100","5,488,762.9294",1.0000,1.0000
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.0000,0.0000,"9,637,798.1973",1.0000,1.0000
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.3800",0.0000,"24,008,556.5800",1.0000,1.0000
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.0000,0.0000,"1,793,744.2700",1.2792,1.2792
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.0000,0.0000,"8,547,945.9000",1.0000,1.0000
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.0000,"-3,840.0300","4,255,123.0600",1.0000,1.0000
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,NaN,"-3,589.8800","1,634,879.9900",1.0000,1.0000
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"181,358.6400","-1,900.0000","5,792,504.3500",1.0000,1.0000
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"3,406,536.7500","-1,875,356.0800","112,666,572.0400",1.0000,1.0000
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"3,196,419.6500","-503,939.0700","177,623,228.2500",1.2792,1.2792
0,04-2022,TD Premier,MLCB,CAD,"4,899,083.5800","-301,026.5900","61,606,746.2100",1.0000,1.0000
1,04-2022,TD Premier,MLFI,CAD,"46,939.6100","-1,114,310.1800","34,419,976.8000",1.0000,1.0000
2,04-2022,TD Premier,MLNB,CAD,"1,195,347.8500","-841,182.2100","99,094,051.9300",1.0000,1.0000
3,04-2022,TD Premier,MLND,CAD,"4,040,768.4074","-174,417.6200","117,245,497.6800",1.0000,1.0000
4,04-2022,TD Premier,MUUA,CAD,"2,210,964.5865","-265,789.4000","93,677,650.6400",1.0000,1.0000
0,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,0.0000,"-3,000,000.0000","11,818,821.6100",1.0000,1.0000
1,04-2022,Richardson GMP,Corporate Bond,CAD,0.0000,"-18,538.2300","16,531,703.3600",1.0000,1.0000
0,04-2022,CIBC ICS,Manulife Canadian Bond,CAD,"181,897.0000","-2,615,763.0000","115,647,597.0000",1.0000,1.0000
1,04-2022,CIBC ICS,Manulife Canadian Large-Cap Equity Growth,CAD,"1,784,999.0000","-43,729.0000","59,966,062.0000",1.0000,1.0000
2,04-2022,CIBC ICS,Manulife N.A. Dividend Income,CAD,"4,587,547.0000","-309,480.0000","119,469,468.0000",1.0000,1.0000

In [201]:
BMOCanaccordManuWellIARJRBCTDGMPCIBC.Assets=BMOCanaccordManuWellIARJRBCTDGMPCIBC.Assets*BMOCanaccordManuWellIARJRBCTDGMPCIBC.BS
BMOCanaccordManuWellIARJRBCTDGMPCIBC.Sales=BMOCanaccordManuWellIARJRBCTDGMPCIBC.Sales*BMOCanaccordManuWellIARJRBCTDGMPCIBC.IS
BMOCanaccordManuWellIARJRBCTDGMPCIBC.Redemptions=BMOCanaccordManuWellIARJRBCTDGMPCIBC.Redemptions*BMOCanaccordManuWellIARJRBCTDGMPCIBC.IS

In [202]:
BMOCanaccordManuWellIARJRBCTDGMPCIBC

,Date,Platform,Mandate,Currency,Sales,Redemptions,Assets,BS,IS
0,04-2022,BMO Architect,Manulife Canadian Equity,CAD,"3,247,338.3900","-9,345,704.6800","195,644,347.5900",1.0000,1.0000
1,04-2022,BMO Architect,Manulife North American Equity,CAD,"3,504,349.7700","-311,413.0500","82,980,650.3400",1.0000,1.0000
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,USD,"1,696,592.9567","-1,208,835.8515","186,921,491.2500",1.0000,1.2792
0,04-2022,Canaccord,Manulife Canadian Bond Managed Account,USD,0.0000,0.0000,"873,910.5267",1.2792,1.2792
1,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,USD,0.0000,0.0000,"578,724.8420",1.2792,1.2792
2,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,USD,0.0000,0.0000,"316,952.8462",1.2792,1.2792
3,04-2022,Canaccord,Manulife North American Dividend Income Manage...,USD,"293,078.4970","-344,015.4827","47,371,825.2674",1.2792,1.2792
4,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,USD,0.0000,0.0000,"1,737,981.2552",1.2792,1.2792
5,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,USD,0.0000,0.0000,"255,735.9371",1.2792,1.2792
6,04-2022,Canaccord,Manulife US Dividend Income Managed Account,USD,0.0000,0.0000,"4,388,361.0567",1.2792,1.2792
0,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,CAD,0.0000,"-1,165.8800","1,231,725.9400",1.0000,1.0000
1,04-2022,Manulife Securities,Manulife Canadian Equity Growth,CAD,0.0000,0.0000,"6,108,495.0500",1.0000,1.0000
2,04-2022,Manulife Securities,Manulife Canadian Fixed Income,CAD,0.0000,-650.0000,"11,270,683.0100",1.0000,1.0000
3,04-2022,Manulife Securities,Manulife Corporate Fixed Income,CAD,0.0000,"-1,650.0000","1,461,598.3300",1.0000,1.0000
4,04-2022,Manulife Securities,Manulife North American Dividend Income,CAD,"107,857.1600","-88,234.9200","23,066,349.4500",1.0000,1.0000
5,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,CAD,0.0000,0.0000,"7,692,465.8000",1.0000,1.0000
6,04-2022,Manulife Securities,Manulife U.S. Dividend Income,CAD,"28,222.4600","-45,844.9100","5,488,762.9294",1.0000,1.0000
7,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,CAD,0.0000,0.0000,"9,637,798.1973",1.0000,1.0000
0,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,CAD,"526,688.3800",0.0000,"24,008,556.5800",1.0000,1.0000
1,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,USD,0.0000,0.0000,"2,294,557.6702",1.2792,1.2792
2,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,CAD,0.0000,0.0000,"8,547,945.9000",1.0000,1.0000
0,04-2022,Industrial Alliance,North American Dividend Income Strategy,CAD,0.0000,"-3,840.0300","4,255,123.0600",1.0000,1.0000
0,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,CAD,NaN,"-3,589.8800","1,634,879.9900",1.0000,1.0000
1,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,CAD,"181,358.6400","-1,900.0000","5,792,504.3500",1.0000,1.0000
2,04-2022,Raymond James,N.A. DIVIDEND INCOME,CAD,"3,406,536.7500","-1,875,356.0800","112,666,572.0400",1.0000,1.0000
0,04-2022,RBC,Manulife North American Dividend Income Manage...,USD,"4,088,860.0163","-644,638.8583","227,215,633.5774",1.2792,1.2792
0,04-2022,TD Premier,MLCB,CAD,"4,899,083.5800","-301,026.5900","61,606,746.2100",1.0000,1.0000
1,04-2022,TD Premier,MLFI,CAD,"46,939.6100","-1,114,310.1800","34,419,976.8000",1.0000,1.0000
2,04-2022,TD Premier,MLNB,CAD,"1,195,347.8500","-841,182.2100","99,094,051.9300",1.0000,1.0000
3,04-2022,TD Premier,MLND,CAD,"4,040,768.4074","-174,417.6200","117,245,497.6800",1.0000,1.0000
4,04-2022,TD Premier,MUUA,CAD,"2,210,964.5865","-265,789.4000","93,677,650.6400",1.0000,1.0000
0,04-2022,Richardson GMP,Canadian Core Fixed Income,CAD,0.0000,"-3,000,000.0000","11,818,821.6100",1.0000,1.0000
1,04-2022,Richardson GMP,Corporate Bond,CAD,0.0000,"-18,538.2300","16,531,703.3600",1.0000,1.0000
0,04-2022,CIBC ICS,Manulife Canadian Bond,CAD,"181,897.0000","-2,615,763.0000","115,647,597.0000",1.0000,1.0000
1,04-2022,CIBC ICS,Manulife Canadian Large-Cap Equity Growth,CAD,"1,784,999.0000","-43,729.0000","59,966,062.0000",1.0000,1.0000
2,04-2022,CIBC ICS,Manulife N.A. Dividend Income,CAD,"4,587,547.0000","-309,480.0000","119,469,468.0000",1.0000,1.0000

In [203]:
SMA = pd.DataFrame(BMOCanaccordManuWellIARJRBCTDGMPCIBC, columns= ['Date','Platform','Mandate','Sales','Redemptions','Assets'])

In [204]:
SMA= SMA.append(SMA.sum(numeric_only=True), ignore_index=True)

In [205]:
SMA.fillna(0)

,Date,Platform,Mandate,Sales,Redemptions,Assets
0,04-2022,BMO Architect,Manulife Canadian Equity,"3,247,338.3900","-9,345,704.6800","195,644,347.5900"
1,04-2022,BMO Architect,Manulife North American Equity,"3,504,349.7700","-311,413.0500","82,980,650.3400"
2,04-2022,BMO Architect,Manulife U.S. Dividend Equity,"1,696,592.9567","-1,208,835.8515","186,921,491.2500"
3,04-2022,Canaccord,Manulife Canadian Bond Managed Account,0.0000,0.0000,"873,910.5267"
4,04-2022,Canaccord,Manulife Canadian Small Cap Managed Account,0.0000,0.0000,"578,724.8420"
5,04-2022,Canaccord,Manulife Fundamental Global Franchise ADR Mana...,0.0000,0.0000,"316,952.8462"
6,04-2022,Canaccord,Manulife North American Dividend Income Manage...,"293,078.4970","-344,015.4827","47,371,825.2674"
7,04-2022,Canaccord,Manulife Tactical Balanced Managed Account,0.0000,0.0000,"1,737,981.2552"
8,04-2022,Canaccord,Manulife U.S. Small Cap Core Managed Account,0.0000,0.0000,"255,735.9371"
9,04-2022,Canaccord,Manulife US Dividend Income Managed Account,0.0000,0.0000,"4,388,361.0567"
10,04-2022,Manulife Securities,Manulife Canadian Balanced Growth,0.0000,"-1,165.8800","1,231,725.9400"
11,04-2022,Manulife Securities,Manulife Canadian Equity Growth,0.0000,0.0000,"6,108,495.0500"
12,04-2022,Manulife Securities,Manulife Canadian Fixed Income,0.0000,-650.0000,"11,270,683.0100"
13,04-2022,Manulife Securities,Manulife Corporate Fixed Income,0.0000,"-1,650.0000","1,461,598.3300"
14,04-2022,Manulife Securities,Manulife North American Dividend Income,"107,857.1600","-88,234.9200","23,066,349.4500"
15,04-2022,Manulife Securities,Manulife North American Dividend Income Balanced,0.0000,0.0000,"7,692,465.8000"
16,04-2022,Manulife Securities,Manulife U.S. Dividend Income,"28,222.4600","-45,844.9100","5,488,762.9294"
17,04-2022,Manulife Securities,Manulife U.S. Large Cap Core Equity,0.0000,0.0000,"9,637,798.1973"
18,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,"526,688.3800",0.0000,"24,008,556.5800"
19,04-2022,Wellington-Altus Private Wealth,Manulife NA Dvd,0.0000,0.0000,"2,294,557.6702"
20,04-2022,Wellington-Altus Private Wealth,Manulife NA Eq,0.0000,0.0000,"8,547,945.9000"
21,04-2022,Industrial Alliance,North American Dividend Income Strategy,0.0000,"-3,840.0300","4,255,123.0600"
22,04-2022,Raymond James,CANADIAN SMALL CAP EQUITY,0.0000,"-3,589.8800","1,634,879.9900"
23,04-2022,Raymond James,CDN GROWTH DIVIDEND EQUITY,"181,358.6400","-1,900.0000","5,792,504.3500"
24,04-2022,Raymond James,N.A. DIVIDEND INCOME,"3,406,536.7500","-1,875,356.0800","112,666,572.0400"
25,04-2022,RBC,Manulife North American Dividend Income Manage...,"4,088,860.0163","-644,638.8583","227,215,633.5774"
26,04-2022,TD Premier,MLCB,"4,899,083.5800","-301,026.5900","61,606,746.2100"
27,04-2022,TD Premier,MLFI,"46,939.6100","-1,114,310.1800","34,419,976.8000"
28,04-2022,TD Premier,MLNB,"1,195,347.8500","-841,182.2100","99,094,051.9300"
29,04-2022,TD Premier,MLND,"4,040,768.4074","-174,417.6200","117,245,497.6800"
30,04-2022,TD Premier,MUUA,"2,210,964.5865","-265,789.4000","93,677,650.6400"
31,04-2022,Richardson GMP,Canadian Core Fixed Income,0.0000,"-3,000,000.0000","11,818,821.6100"
32,04-2022,Richardson GMP,Corporate Bond,0.0000,"-18,538.2300","16,531,703.3600"
33,04-2022,CIBC ICS,Manulife Canadian Bond,"181,897.0000","-2,615,763.0000","115,647,597.0000"
34,04-2022,CIBC ICS,Manulife Canadian Large-Cap Equity Growth,"1,784,999.0000","-43,729.0000","59,966,062.0000"
35,04-2022,CIBC ICS,Manulife N.A. Dividend Income,"4,587,547.0000","-309,480.0000","119,469,468.0000"
36,0,0,0,"36,028,430.0539","-22,561,075.8526","1,702,921,208.0156"

In [206]:
SMA1=pd.DataFrame(SMA, columns= ['Date','Platform','Sales','Redemptions','Assets'])
SMA1.head()

      Date       Platform          Sales     Redemptions           Assets
0  04-2022  BMO Architect 3,247,338.3900 -9,345,704.6800 195,644,347.5900
1  04-2022  BMO Architect 3,504,349.7700   -311,413.0500  82,980,650.3400
2  04-2022  BMO Architect 1,696,592.9567 -1,208,835.8515 186,921,491.2500
3  04-2022      Canaccord         0.0000          0.0000     873,910.5267
4  04-2022      Canaccord         0.0000          0.0000     578,724.8420

In [207]:
#SMA=SMA.style.hide_index()
SMA_platform= SMA1.groupby(['Date','Platform']).sum()
SMA_platform

                                                  Sales      Redemptions  \
Date    Platform
04-2022 BMO Architect                    8,448,281.1167 -10,865,953.5815
        CIBC ICS                         6,554,443.0000  -2,968,972.0000
        Canaccord                          293,078.4970    -344,015.4827
        Industrial Alliance                      0.0000      -3,840.0300
        Manulife Securities                136,079.6200    -137,545.7100
        RBC                              4,088,860.0163    -644,638.8583
        Raymond James                    3,587,895.3900  -1,880,845.9600
        Richardson GMP                           0.0000  -3,018,538.2300
        TD Premier                      12,393,104.0340  -2,696,726.0000
        Wellington-Altus Private Wealth    526,688.3800           0.0000

                                                  Assets
Date    Platform
04-2022 BMO Architect                   465,546,489.1800
        CIBC ICS                        295,083,127.0000
        Canaccord                        55,523,491.7312
        Industrial Alliance               4,255,123.0600
        Manulife Securities              65,957,878.7067
        RBC                             227,215,633.5774
        Raymond James                   120,093,956.3800
        Richardson GMP                   28,350,524.9700
        TD Premier                      406,043,923.2600
        Wellington-Altus Private Wealth  34,851,060.1502

In [208]:
pd.options.display.float_format = '{:,.0f}'.format

In [209]:
SMA_platform

                                             Sales  Redemptions      Assets
Date    Platform
04-2022 BMO Architect                    8,448,281  -10,865,954 465,546,489
        CIBC ICS                         6,554,443   -2,968,972 295,083,127
        Canaccord                          293,078     -344,015  55,523,492
        Industrial Alliance                      0       -3,840   4,255,123
        Manulife Securities                136,080     -137,546  65,957,879
        RBC                              4,088,860     -644,639 227,215,634
        Raymond James                    3,587,895   -1,880,846 120,093,956
        Richardson GMP                           0   -3,018,538  28,350,525
        TD Premier                      12,393,104   -2,696,726 406,043,923
        Wellington-Altus Private Wealth    526,688            0  34,851,060

In [210]:
SMA_platform = SMA_platform.reset_index().copy()
SMA_platform

,Date,Platform,Sales,Redemptions,Assets
0,04-2022,BMO Architect,"8,448,281","-10,865,954","465,546,489"
1,04-2022,CIBC ICS,"6,554,443","-2,968,972","295,083,127"
2,04-2022,Canaccord,"293,078","-344,015","55,523,492"
3,04-2022,Industrial Alliance,0,"-3,840","4,255,123"
4,04-2022,Manulife Securities,"136,080","-137,546","65,957,879"
5,04-2022,RBC,"4,088,860","-644,639","227,215,634"
6,04-2022,Raymond James,"3,587,895","-1,880,846","120,093,956"
7,04-2022,Richardson GMP,0,"-3,018,538","28,350,525"
8,04-2022,TD Premier,"12,393,104","-2,696,726","406,043,923"
9,04-2022,Wellington-Altus Private Wealth,"526,688",0,"34,851,060"

In [211]:
SMA_platform.append(SMA_platform.sum(numeric_only=True), ignore_index=True)
SMA_platform

,Date,Platform,Sales,Redemptions,Assets
0,04-2022,BMO Architect,"8,448,281","-10,865,954","465,546,489"
1,04-2022,CIBC ICS,"6,554,443","-2,968,972","295,083,127"
2,04-2022,Canaccord,"293,078","-344,015","55,523,492"
3,04-2022,Industrial Alliance,0,"-3,840","4,255,123"
4,04-2022,Manulife Securities,"136,080","-137,546","65,957,879"
5,04-2022,RBC,"4,088,860","-644,639","227,215,634"
6,04-2022,Raymond James,"3,587,895","-1,880,846","120,093,956"
7,04-2022,Richardson GMP,0,"-3,018,538","28,350,525"
8,04-2022,TD Premier,"12,393,104","-2,696,726","406,043,923"
9,04-2022,Wellington-Altus Private Wealth,"526,688",0,"34,851,060"

In [212]:
SMA_platform['Net Sales'] = SMA_platform.Sales + SMA_platform.Redemptions
SMA_platform

,Date,Platform,Sales,Redemptions,Assets,Net Sales
0,04-2022,BMO Architect,"8,448,281","-10,865,954","465,546,489","-2,417,672"
1,04-2022,CIBC ICS,"6,554,443","-2,968,972","295,083,127","3,585,471"
2,04-2022,Canaccord,"293,078","-344,015","55,523,492","-50,937"
3,04-2022,Industrial Alliance,0,"-3,840","4,255,123","-3,840"
4,04-2022,Manulife Securities,"136,080","-137,546","65,957,879","-1,466"
5,04-2022,RBC,"4,088,860","-644,639","227,215,634","3,444,221"
6,04-2022,Raymond James,"3,587,895","-1,880,846","120,093,956","1,707,049"
7,04-2022,Richardson GMP,0,"-3,018,538","28,350,525","-3,018,538"
8,04-2022,TD Premier,"12,393,104","-2,696,726","406,043,923","9,696,378"
9,04-2022,Wellington-Altus Private Wealth,"526,688",0,"34,851,060","526,688"

In [213]:
SMA_platform.loc['Total'] = SMA_platform.select_dtypes(pd.np.number).sum()
SMA_platform

C:\Users\manohhe\AppData\Local\Temp/ipykernel_18792/2648719659.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  SMA_platform.loc['Total'] = SMA_platform.select_dtypes(pd.np.number).sum()

,Date,Platform,Sales,Redemptions,Assets,Net Sales
0,04-2022,BMO Architect,"8,448,281","-10,865,954","465,546,489","-2,417,672"
1,04-2022,CIBC ICS,"6,554,443","-2,968,972","295,083,127","3,585,471"
2,04-2022,Canaccord,"293,078","-344,015","55,523,492","-50,937"
3,04-2022,Industrial Alliance,0,"-3,840","4,255,123","-3,840"
4,04-2022,Manulife Securities,"136,080","-137,546","65,957,879","-1,466"
5,04-2022,RBC,"4,088,860","-644,639","227,215,634","3,444,221"
6,04-2022,Raymond James,"3,587,895","-1,880,846","120,093,956","1,707,049"
7,04-2022,Richardson GMP,0,"-3,018,538","28,350,525","-3,018,538"
8,04-2022,TD Premier,"12,393,104","-2,696,726","406,043,923","9,696,378"
9,04-2022,Wellington-Altus Private Wealth,"526,688",0,"34,851,060","526,688"
Total,NaN,NaN,"36,028,430","-22,561,076","1,702,921,208","13,467,354"

In [214]:
pd.DataFrame(SMA_platform, columns= ['Date','Platform','Sales','Redemptions','Net Sales','Assets'])

,Date,Platform,Sales,Redemptions,Net Sales,Assets
0,04-2022,BMO Architect,"8,448,281","-10,865,954","-2,417,672","465,546,489"
1,04-2022,CIBC ICS,"6,554,443","-2,968,972","3,585,471","295,083,127"
2,04-2022,Canaccord,"293,078","-344,015","-50,937","55,523,492"
3,04-2022,Industrial Alliance,0,"-3,840","-3,840","4,255,123"
4,04-2022,Manulife Securities,"136,080","-137,546","-1,466","65,957,879"
5,04-2022,RBC,"4,088,860","-644,639","3,444,221","227,215,634"
6,04-2022,Raymond James,"3,587,895","-1,880,846","1,707,049","120,093,956"
7,04-2022,Richardson GMP,0,"-3,018,538","-3,018,538","28,350,525"
8,04-2022,TD Premier,"12,393,104","-2,696,726","9,696,378","406,043,923"
9,04-2022,Wellington-Altus Private Wealth,"526,688",0,"526,688","34,851,060"
Total,NaN,NaN,"36,028,430","-22,561,076","13,467,354","1,702,921,208"

In [215]:
#%matplotlib notebook
#import matplotlib.pyplot as plt
#import matplotlib
#SMA_platform.x=['Platform']
#SMA_platform.y=['Sales', 'Redemption', 'Assets']
#plt.bar(SMA_platform.x,SMA_platform.y)
#plt.show()
#SMA_platform_desc=SMA_platform.sort_values('Sales',ascending=False)
#plt.figure(figsize=(10,6))
#chart=plt.bar('Platform','Sales',data=SMA_platform_desc)
#plt.xticks(
#rotation=30, 
    #ha="right")
#plt.xlabel("Platform", size=15)
#plt.ylabel("Sales", size=15)
#plt.title("Sales plot")

In [216]:
%matplotlib notebook
#import matplotlib.pyplot as plt
import matplotlib
#SMA_platform.x=['Platform']
#SMA_platform.y=['Sales', 'Redemption', 'Assets']
#plt.bar(SMA_platform.x,SMA_platform.y)
#plt.show()
SMA_platform_desc1=SMA_platform.sort_values('Redemptions')
plt.figure(figsize=(10,6))
chart=plt.bar('Platform','Redemptions',data=SMA_platform_desc1)
plt.xticks(
rotation=30, 
    ha="right")
plt.xlabel("Platform", size=15)
plt.ylabel("Redemptions", size=15)
plt.title("Redemptions plot")

NameError: name 'plt' is not defined

In [ ]:
%matplotlib notebook
import matplotlib.pyplot as plt
import matplotlib
#SMA_platform.x=['Platform']
#SMA_platform.y=['Sales', 'Redemption', 'Assets']
#plt.bar(SMA_platform.x,SMA_platform.y)
#plt.show()
SMA_platform_desc2=SMA_platform.sort_values('Assets',ascending=False)
plt.figure(figsize=(10,6))
chart=plt.bar('Platform','Assets',data=SMA_platform_desc2)
plt.xticks(
rotation=30, 
    ha="right")
plt.xlabel("Platform", size=12)
plt.ylabel("Assets", size=15)
plt.title("Assets plot")

# Output

In [217]:
SMA.to_excel(r'S:\CAN\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\SMA Data.xlsx', sheet_name='SMA_2022', index = False)

In [218]:
File = pd.ExcelWriter(r'S:\CAN\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\SMA.xlsx')

In [219]:
SMA.to_excel(File, sheet_name='SMA_2022', index = False)
SMA_platform.to_excel(File, sheet_name='SMA_Pivot', index = True)
File.save()

In [220]:
SMA1.to_excel(r'S:\CAN\retail\retail sales intelligence\Wealth\Reports - Scheduled\2 - Monthly Reports\SMA\SMA Data Files\SMA Reports-Python\SMA Data.xlsx', sheet_name='SMA_Pivot', index = False)